openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Lookups API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Lookups
paths:
  /lookups:
    post:
      tags:
      - Lookups
      summary: Submit email to look up and create magic link
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupCreateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/LookupCreateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LookupCreateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postLookups
      x-operation-id-source: derived
  /lookups/{lookupId}:
    get:
      tags:
      - Lookups
      summary: Get matching events for a lookup ID
      parameters:
      - name: lookupId
        in: path
        description: A Guid retrieved from performing a post to /
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResultOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getLookupsByLookupId
      x-operation-id-source: derived
  /lookups/{lookupId}/events/{eventNumber}:
    get:
      tags:
      - Lookups
      summary: Get matching single event for a lookup ID and eventNumber
      parameters:
      - name: lookupId
        in: path
        description: A Guid retrieved from performing a post to /
        required: true
        schema:
          type: string
      - name: eventNumber
        in: path
        description: An integer representing a single event
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResultOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getLookupsByLookupIdEventsByEventNumber
      x-operation-id-source: derived
  /lookups/{lookupId}/events/{eventNumber}/attendees:
    get:
      tags:
      - Lookups
      summary: Get attendees for the selected lookup ID and eventNumber.
      parameters:
      - name: lookupId
        in: path
        description: A Guid retrieved from performing a post to /
        required: true
        schema:
          type: string
      - name: eventNumber
        in: path
        description: An integer representing a single event
        required: true
        schema:
          type: integer
          format: int64
      - name: includeGroups
        in: query
        description: Boolean to include group emails in search. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: includeOrders
        in: query
        description: Boolean to include buyer emails in search. Defaults to false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupAttendeeResultOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupAttendeeResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getLookupsByLookupIdEventsByEventNumberAttendees
      x-operation-id-source: derived
  /lookups/{lookupId}/events/{eventNumber}/group:
    get:
      tags:
      - Lookups
      summary: Get group for the selected lookup ID and eventNumber
      parameters:
      - name: lookupId
        in: path
        description: A Guid retrieved from performing a post to /
        required: true
        schema:
          type: string
      - name: eventNumber
        in: path
        description: An integer representing a single event
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupGroupResultOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupGroupResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getLookupsByLookupIdEventsByEventNumberGroup
      x-operation-id-source: derived
  /lookups/{lookupId}/events/{eventNumber}/orders:
    get:
      tags:
      - Lookups
      summary: Get orders for the selected lookup ID and eventNumber
      parameters:
      - name: lookupId
        in: path
        description: A Guid retrieved from performing a post to /
        required: true
        schema:
          type: string
      - name: eventNumber
        in: path
        description: An integer representing a single event
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupOrderResultOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupOrderResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getLookupsByLookupIdEventsByEventNumberOrders
      x-operation-id-source: derived
components:
  schemas:
    LookupAttendeeResultOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        Status:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        IsPreRegistered:
          type: boolean
        ShareEmail:
          type:
          - string
          - 'null'
        GiftingEnabled:
          type: boolean
        GiftLastSentAt:
          type:
          - string
          - 'null'
          format: date-time
        GiftLastSentAtLocal:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        TimeZoneId:
          type:
          - string
          - 'null'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        AttendeeTypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        TypeAmount:
          type: number
          format: double
        TypeDisplayAmount:
          type: number
          format: double
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        Addons:
          type: number
          format: double
        Discounts:
          type: number
          format: double
        SeatInfo:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        GroupName:
          type:
          - string
          - 'null'
        GroupEmail:
          type:
          - string
          - 'null'
        AttendeeDisplay:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        DisplayPrice:
          type: number
          format: double
          readOnly: true
        DisplayTotal:
          type: number
          format: double
          readOnly: true
        PriceDescription:
          type:
          - string
          - 'null'
        HasPaymentsToMake:
          type: boolean
        DonatingBackEnabled:
          type: boolean
        ChangesAreBlocked:
          type: boolean
        ChangesAreBlockedAfter:
          type:
          - string
          - 'null'
          format: date-time
        HasPendingSignatures:
          type: boolean
        AllSignaturesComplete:
          type: boolean
        ShareEnabled:
          type: boolean
        TicketInfo:
          $ref: '#/components/schemas/TicketInfoOutput'
      additionalProperties: false
    LookupEventResultOutput:
      type: object
      properties:
        Event:
          $ref: '#/components/schemas/EventListOutput'
        HasGroup:
          type: boolean
        HasOrders:
          type: boolean
        ShowAttendees:
          type: boolean
      additionalProperties: false
    DateDisplayOutput:
      type: object
      properties:
        Months:
          type:
          - string
          - 'null'
        Dates:
          type:
          - string
          - 'null'
        Days:
          type:
          - string
          - 'null'
        Times:
          type:
          - string
          - 'null'
        IsOngoing:
          type: boolean
      additionalProperties: false
    LookupCreateInput:
      required:
      - Email
      type: object
      properties:
        Email:
          minLength: 1
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type: string
        EventNumber:
          type:
          - integer
          - 'null'
          format: int64
        VerrisSubdomain:
          type:
          - string
          - 'null'
        VerrisCode:
          type:
          - string
          - 'null'
        VerrisUid:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    FlexPassCheckinItem:
      type: object
      properties:
        EventId:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        Title:
          type:
          - string
          - 'null'
        CheckedInAt:
          type: string
          format: date-time
        SessionName:
          type:
          - string
          - 'null'
        AttendeeCheckinId:
          type: string
          format: uuid
        EventSessionId:
          type: string
          format: uuid
        SessionNumber:
          type: integer
          format: int64
        TimeZoneId:
          type:
          - string
          - 'null'
        CheckedInAtLocal:
          type: string
          format: date-time
          readOnly: true
        Culture:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateItem'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        TitleInfo:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    AttendeeDisplayOutput:
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
        Line2:
          type:
          - string
          - 'null'
        Line3:
          type:
          - string
          - 'null'
      additionalProperties: false
    TicketInfoOutput:
      type: object
      properties:
        AttendeeTypeName:
          type:
          - string
          - 'null'
        AttendeeName:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Section:
          type:
          - string
          - 'null'
        RowLabel:
          type:
          - string
          - 'null'
        Row:
          type:
          - string
          - 'null'
        Seat:
          type:
          - string
          - 'null'
        FlexSummary:
          type:
          - string
          - 'null'
        Field1Label:
          type:
          - string
          - 'null'
        Field1Value:
          type:
          - string
          - 'null'
        Field2Label:
          type:
          - string
          - 'null'
        Field2Value:
          type:
          - string
          - 'null'
        Field3Label:
          type:
          - string
          - 'null'
        Field3Value:
          type:
          - string
          - 'null'
        ImageUrl:
          type:
          - string
          - 'null'
        TicketRenderType:
          $ref: '#/components/schemas/TicketRenderType'
        TicketNotes:
          type:
          - string
          - 'null'
        TicketAd:
          type:
          - string
          - 'null'
        EventDate:
          type:
          - string
          - 'null'
        EventTime:
          type:
          - string
          - 'null'
        EventDoorTime:
          type:
          - string
          - 'null'
        EventTitle:
          type:
          - string
          - 'null'
        QrImageUrl:
          type:
          - string
          - 'null'
        QrText:
          type:
          - string
          - 'null'
        PassUrl:
          type:
          - string
          - 'null'
        WalletUrl:
          type:
          - string
          - 'null'
        BundledPassUrl:
          type:
          - string
          - 'null'
        BundledWalletUrl:
          type:
          - string
          - 'null'
        PrintUrl:
          type:
          - string
          - 'null'
        BundledPrintUrl:
          type:
          - string
          - 'null'
        EditUrl:
          type:
          - string
          - 'null'
        FlexPassRedemptionsUsed:
          type:
          - string
          - 'null'
        FlexPassRedemptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FlexPassCheckinItem'
        IsFlexOrderOrGroupTicket:
          type: boolean
        TicketColor:
          type:
          - string
          - 'null'
        TicketClassName:
          type:
          - string
          - 'null'
        EventContactInfo:
          type:
          - string
          - 'null'
        OrderInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        AttendeesDescription:
          type:
          - string
          - 'null'
        TimeSlotName:
          type:
          - string
          - 'null'
        SharedCapacityName:
          type:
          - string
          - 'null'
        LocationInfo:
          type:
          - string
          - 'null'
        DateInfo:
          type:
          - string
          - 'null'
        BundledTicketUrl:
          type:
          - string
          - 'null'
        IsBundledTicket:
          type: boolean
        StartsEndsSameDay:
          type: boolean
        Coordinates:
          type:
          - string
          - 'null'
        Address:
          type:
          - string
          - 'null'
        MapAddress:
          type:
          - string
          - 'null'
        ContactEmail:
          type:
          - string
          - 'null'
        ContactPhone:
          type:
          - string
          - 'null'
        IsFlexPass:
          type: boolean
      additionalProperties: false
    LookupGroupResultOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        GroupNumber:
          type: integer
          format: int64
        Name:
          type:
          - string
          - 'null'
        AttendeeCount:
          type: integer
          format: int32
      additionalProperties: false
    TicketRenderType:
      enum:
      - Assigned
      - AssignedSection
      - GeneralAdmission
      - FlexPass
      - TimeSlot
      - Groups
      - Orders
      type: string
    EventDateItem:
      type: object
      properties:
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    LookupOrderResultOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        OrderKey:
          type:
          - string
          - 'null'
        OrderedAt:
          type: string
          format: date-time
        OrderedAtLocal:
          type: string
          format: date-time
        TimeZoneId:
          type:
          - string
          - 'null'
        BillingName:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        IsAdjustment:
          type: boolean
        Culture:
          type:
          - string
          - 'null'
        AttendeeCount:
          type: integer
          format: int32
      additionalProperties: false
    EventListOutput:
      type: object
      properties:
        Title:
          type:
          - string
          - 'null'
        Subtitle:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        DateInfo:
          type:
          - string
          - 'null'
        DateInfoList:
          type:
          - array
          - 'null'
          items:
            type: string
        SoldOut:
          type: boolean
        IsSticky:
          type: boolean
        EventNumber:
          type: integer
          format: int64
        IsAssigned:
          type: boolean
        LocationName:
          type:
          - string
          - 'null'
        SessionCount:
          type: integer
          format: int32
        IsActive:
          type: boolean
        DateDisplay:
          $ref: '#/components/schemas/DateDisplayOutput'
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        MapUrl:
          type:
          - string
          - 'null'
        PromoImageUrl:
          type:
          - string
          - 'null'
        CategoryId:
          type: integer
          format: int32
        CategoryName:
          type:
          - string
          - 'null'
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        SpotsTaken:
          type: integer
          format: int32
        ShowRemaining:
          type: boolean
        RemainingText:
          type:
          - string
          - 'null'
        Verbiage:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateOutput'
        AlternateTitle:
          type:
          - string
          - 'null'
          readOnly: true
        TimeZoneId:
          type:
          - string
          - 'null'
        AreaName:
          type:
          - string
          - 'null'
        AreaKey:
          type:
          - string
          - 'null'
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        AcctCode:
          type:
          - string
          - 'null'
        IsHidden:
          type: boolean
        IsFlexPass:
          type: boolean
        IsExchangeable:
          type: boolean
      additionalProperties: false
    EventDateOutput:
      type: object
      properties:
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    LookupResultOutput:
      type: object
      properties:
        Upcoming:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LookupEventResultOutput'
        Past:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LookupEventResultOutput'
        Email:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
