openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Clients API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Clients
paths:
  /clients:
    get:
      tags:
      - Clients
      summary: Get a list of all clients available to this application
      parameters:
      - name: accessKey
        in: query
        description: Optional Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientListOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getClients
      x-operation-id-source: derived
  /clients/{clientId}:
    get:
      tags:
      - Clients
      summary: Get the details for a specific client
      parameters:
      - name: clientId
        in: path
        description: An string, a GUID, or an integer that corresponds to a specific client
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getClientsByClientId
      x-operation-id-source: derived
  /clients/{clientId}/theme:
    get:
      tags:
      - Clients
      summary: Get the theme for a specific client
      parameters:
      - name: clientId
        in: path
        description: A string, a GUID, or an integer that corresponds to a specific client
        required: true
        schema:
          type: string
      - name: urlKey
        in: query
        description: An optional string that corresponds to a specific urlKey
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/ThemeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getClientsByClientIdTheme
      x-operation-id-source: derived
components:
  schemas:
    ThemeOutput:
      type: object
      properties:
        LogoUrl:
          type:
          - string
          - 'null'
        LogoPosition:
          type:
          - string
          - 'null'
        HeaderUrlLarge:
          type:
          - string
          - 'null'
        HeaderUrlMobile:
          type:
          - string
          - 'null'
        BackgroundCss:
          type:
          - string
          - 'null'
        TextColor:
          type:
          - string
          - 'null'
        LinkColor:
          type:
          - string
          - 'null'
        HomeUrl:
          type:
          - string
          - 'null'
        HeaderHtml:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    ClientListOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ClientNumber:
          type: integer
          format: int64
        ClientKey:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedAt:
          type: string
          format: date-time
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        IsLive:
          type: boolean
        IsDeleted:
          type: boolean
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    ClientSingleOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        Coordinates:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientNumber:
          type: integer
          format: int64
        OwnerUserId:
          type: string
          format: uuid
        BillingUserId:
          type: string
          format: uuid
        CrmId:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        TimeZoneId:
          type:
          - string
          - 'null'
        LegacyClientId:
          type:
          - integer
          - 'null'
          format: int64
        PartnerId:
          type:
          - string
          - 'null'
          format: uuid
        HubSpotCompanyId:
          type:
          - string
          - 'null'
        ChmsVendor:
          type:
          - string
          - 'null'
        ChmsQualifier:
          type:
          - string
          - 'null'
        ChmsAuthToken:
          type:
          - string
          - 'null'
        ChmsAuthSecret:
          type:
          - string
          - 'null'
        ChmsUserToken:
          type:
          - string
          - 'null'
        ChmsUserSecret:
          type:
          - string
          - 'null'
        ChmsServiceName:
          type:
          - string
          - 'null'
        ChmsHtmlTemplate:
          type:
          - string
          - 'null'
        ChmsOauthConnect:
          type:
          - boolean
          - 'null'
        ChmsIsLive:
          type:
          - boolean
          - 'null'
        CreatedAt:
          type: string
          format: date-time
        IsLive:
          type: boolean
        PayVia:
          type:
          - string
          - 'null'
        MissingPaymentInfo:
          type: boolean
        FailedPaymentDetails:
          type:
          - string
          - 'null'
        CardExpire:
          type:
          - string
          - 'null'
        IsDeleted:
          type: boolean
        LastPaidAt:
          type:
          - string
          - 'null'
          format: date-time
        CurrentBalance:
          type: number
          format: double
        BillingTotal:
          type: number
          format: double
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
