openapi: 3.0.1
info:
  title: 'Brushfire API: Version 2025-07-22 AccessCodes Cart API'
  version: '2025-07-22'
  description: 'The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform. It covers events, ticket types, sections and seats, attendees, orders, the shopping cart and checkout flow, groups, sessions and check-in, promotions and access codes, payment profiles, and webhooks (Hooks). Authenticate by sending your App Key (requested at https://developer.brushfire.com/key) in the Authorization header. The API is date-versioned: send the desired version in the api-version request header (for example, 2025-07-22). This document is the live specification published at api.brushfire.com/swagger.'
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Cart
paths:
  /cart/{cartId}:
    get:
      tags:
      - Cart
      summary: Retrieve events and attendees for a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: pos
        in: query
        description: A boolean indicating if this cart should be retrieved for POS mode
        schema:
          type: boolean
          default: false
      - name: exclude
        in: query
        description: A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart
        schema:
          type: string
      - name: slipstream
        in: query
        description: ''
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId to ease adding other attendees and add-ons
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}:
    delete:
      tags:
      - Cart
      summary: Delete all attendees for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeleteEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeleteEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    get:
      tags:
      - Cart
      summary: Retrieve event and attendees for a specific cart and specific event
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: pos
        in: query
        description: A boolean indicating if this cart should be retrieved for POS mode
        schema:
          type: boolean
          default: false
      - name: exclude
        in: query
        description: A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart
        schema:
          type: string
      - name: slipstream
        in: query
        description: ''
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    post:
      tags:
      - Cart
      summary: Update a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: Any options not provided will not be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}/attendees:
    post:
      tags:
      - Cart
      summary: Add attendees to the specified cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAddAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAddAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}/attendees/{attendeeId}:
    delete:
      tags:
      - Cart
      summary: Delete a specific attendee from a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeleteAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeleteAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    get:
      tags:
      - Cart
      summary: Retrieve information for a specific attendee in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    post:
      tags:
      - Cart
      summary: Update information for a specific attendee in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: Any options not provided will not be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}/attendees/{attendeeId}/form:
    get:
      tags:
      - Cart
      summary: Retrieve form for a specific attendee for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    post:
      tags:
      - Cart
      summary: Update form for a specific attendee for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}/form:
    get:
      tags:
      - Cart
      summary: Retrieve form for the buyer for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
    post:
      tags:
      - Cart
      summary: Update form for the buyer for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/events/{eventId}/forms:
    get:
      tags:
      - Cart
      summary: Retrieve forms for the buyer and attendees for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/lookup:
    get:
      tags:
      - Cart
      summary: Search customer accounts and past orders for checkout information for specified cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Name you are searching for (first and/or last)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartLookupOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartLookupOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/promotions:
    post:
      tags:
      - Cart
      summary: Adds a promotion (by name) to a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartPromotionOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartPromotionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/{cartId}/promotions/{promotionId}:
    delete:
      tags:
      - Cart
      summary: Delete a promotion from a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: promotionId
        in: path
        description: A GUID that corresponds to a specific promotion
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeletePromotionOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeletePromotionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
  /cart/id:
    get:
      tags:
      - Cart
      summary: Retreive a system-generated CartId for use in other calls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartIdOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartIdOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
components:
  schemas:
    CartAddAttendeeOutput:
      type: object
      properties:
        CartId:
          type: string
          nullable: true
        ExpiresAt:
          type: string
          format: date-time
          nullable: true
        TotalCount:
          type: integer
          format: int32
        AddedCount:
          type: integer
          format: int32
        EventCart:
          $ref: '#/components/schemas/CartEventOutput'
      additionalProperties: false
    EventDateOutput:
      type: object
      properties:
        DoorsAt:
          type: string
          format: date-time
          nullable: true
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type: string
          format: date-time
          nullable: true
      additionalProperties: false
    CartPromotionOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Names:
          type: array
          items:
            type: string
          nullable: true
        Amount:
          type: number
          format: double
        AutoCalculate:
          type: boolean
      additionalProperties: false
    AttendeeDisplayOutput:
      type: object
      properties:
        Line1:
          type: string
          nullable: true
        Line2:
          type: string
          nullable: true
        Line3:
          type: string
          nullable: true
      additionalProperties: false
    FieldOptionFullOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type: string
          nullable: true
        Capacity:
          type: integer
          format: int32
          nullable: true
        Quantity:
          type: integer
          format: int32
        HasUnitPrice:
          type: boolean
        UnitPrice:
          type: number
          format: double
          nullable: true
        UnitTax:
          type: number
          format: double
          nullable: true
        IsInclusiveTaxes:
          type: boolean
        DisplayPrice:
          type: number
          format: double
          nullable: true
        PriceDescription:
          type: string
          nullable: true
        IsSelected:
          type: boolean
        HasCapacity:
          type: boolean
        SpotsRemaining:
          type: integer
          format: int32
          nullable: true
        RemainingText:
          type: string
          nullable: true
      additionalProperties: false
    UnitFeeLineItemOutput:
      type: object
      properties:
        Label:
          type: string
          description: Display label (e.g. "Service Fee", "Sales Tax").
          nullable: true
        FeeType:
          $ref: '#/components/schemas/FeeItemType'
        Amount:
          type: number
          description: The evaluated amount for this line item.
          format: double
      additionalProperties: false
      description: "A single fee or tax line item evaluated for an attendee from the attendee\r\ntype's customFees configuration. On cart outputs this is a live evaluation;\r\non order outputs it is the snapshot of what was collected at purchase time."
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type: string
          nullable: true
        Value:
          type: string
          nullable: true
      additionalProperties: false
    TypeKind:
      enum:
      - InPerson
      - Donation
      - Product
      type: string
    CartDeletePromotionOutput:
      type: object
      properties:
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
    CartAddAttendeeInput:
      required:
      - Attendees
      type: object
      properties:
        Attendees:
          type: array
          items:
            $ref: '#/components/schemas/CartAddAttendeeItemInput'
        TypeCode:
          type: string
          nullable: true
        AccessKey:
          type: string
          nullable: true
        Exclude:
          type: string
          nullable: true
      additionalProperties: false
    InfoGrouping:
      enum:
      - None
      - CheckPO
      - ECheck
      - Card
      - AppSideload
      - Reference
      - EventCredit
      - MassCancel
      type: string
    CartCheckoutInfoOutput:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        Phone:
          type: string
          nullable: true
        Email:
          type: string
          nullable: true
        Street1:
          type: string
          nullable: true
        Street2:
          type: string
          nullable: true
        City:
          type: string
          nullable: true
        Region:
          type: string
          nullable: true
        Country:
          type: string
          nullable: true
        PostalCode:
          type: string
          nullable: true
      additionalProperties: false
    CartAttendeeOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EventId:
          type: string
          format: uuid
        AttendeeTypeId:
          type: string
          format: uuid
        AttendeeId:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        LinkedAttendeeNumber:
          type: integer
          format: int64
          nullable: true
        GroupId:
          type: string
          format: uuid
          nullable: true
        CartId:
          type: string
          nullable: true
        UnitPrice:
          type: number
          format: double
        UnitFee:
          type: number
          format: double
        UnitTax:
          type: number
          format: double
        UnitDelivery:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee; this property is kept for backwards compatibility but should be ignored.
          format: double
        UnitDiscount:
          type: number
          format: double
        UnitAddons:
          type: number
          format: double
        UnitTotal:
          type: number
          format: double
        UnitFees:
          type: array
          items:
            $ref: '#/components/schemas/UnitFeeLineItemOutput'
          nullable: true
        DisplayPrice:
          type: number
          format: double
        DisplayTotal:
          type: number
          format: double
          readOnly: true
        TypeDisplayAmount:
          type: number
          format: double
        IsInclusiveFees:
          type: boolean
        IsInclusiveTaxes:
          type: boolean
        LastAccessedAt:
          type: string
          format: date-time
        TypeName:
          type: string
          nullable: true
        IsPreRegistered:
          type: boolean
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        CanContinue:
          type: boolean
        SeatId:
          type: string
          format: uuid
          nullable: true
        SectionName:
          type: string
          nullable: true
        RowName:
          type: string
          nullable: true
        SeatLabel:
          type: string
          nullable: true
        DistanceCount:
          type: integer
          format: int32
          nullable: true
        ShareEmail:
          type: string
          nullable: true
        SeatInfo:
          type: string
          nullable: true
        HasFields:
          type: boolean
        Promotions:
          type: array
          items:
            $ref: '#/components/schemas/CartAttendeePromotionOutput'
          nullable: true
        Fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
          nullable: true
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        HasName:
          type: boolean
        HasAddress:
          type: boolean
        DisplayName:
          type: string
          nullable: true
        AttendeeDisplay:
          type: array
          items:
            type: string
          nullable: true
          readOnly: true
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        IsAddon:
          type: boolean
        TypeKind:
          $ref: '#/components/schemas/TypeKind'
        ExternalId:
          type: string
          nullable: true
        ExternalDescription:
          type: string
          nullable: true
      additionalProperties: false
    CartLookupOutput:
      type: object
      properties:
        AccountNumber:
          type: integer
          format: int64
          nullable: true
        IsLegacy:
          type: boolean
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        Organization:
          type: string
          nullable: true
        Street1:
          type: string
          nullable: true
        Street2:
          type: string
          nullable: true
        City:
          type: string
          nullable: true
        Region:
          type: string
          nullable: true
        Country:
          type: string
          nullable: true
        PostalCode:
          type: string
          nullable: true
        Email:
          type: string
          nullable: true
        Phone:
          type: string
          nullable: true
        Relevancy:
          type: number
          format: double
      additionalProperties: false
    FieldDisplayOutput:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Label:
          type: string
          nullable: true
        Value:
          type: string
          nullable: true
        Type:
          type: string
          nullable: true
        IsSensitive:
          type: boolean
        OptionIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
    PaymentMethodOutput:
      type: object
      properties:
        PaymentMethodId:
          type: string
          format: uuid
        Name:
          type: string
          nullable: true
        IsElectronic:
          type: boolean
        InfoGrouping:
          type: string
          nullable: true
        Grouping:
          $ref: '#/components/schemas/InfoGrouping'
      additionalProperties: false
    FieldOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type: string
          nullable: true
        Type:
          type: string
          nullable: true
        Value:
          nullable: true
        DisplayValue:
          type: string
          nullable: true
        ValidationExpression:
          type: string
          nullable: true
        IsRequired:
          type: boolean
        Notes:
          type: string
          nullable: true
        ErrorMessage:
          type: string
          nullable: true
        IsDisabled:
          type: boolean
        IsSensitive:
          type: boolean
        SpecialFieldId:
          type: string
          format: uuid
        ParentOptionId:
          type: string
          format: uuid
          nullable: true
        ParentFieldId:
          type: string
          format: uuid
          nullable: true
        FormObjectId:
          type: string
          format: uuid
          nullable: true
        Options:
          type: array
          items:
            $ref: '#/components/schemas/FieldOptionFullOutput'
          nullable: true
        ParentOptionIsSelected:
          type: boolean
        HasError:
          type: boolean
        HasRelevantOutput:
          type: boolean
        MinDate:
          type: string
          format: date-time
          nullable: true
        MaxDate:
          type: string
          format: date-time
          nullable: true
        AttendeeTypes:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        RemoteUrl:
          type: string
          nullable: true
        SelectedOptionId:
          type: string
          format: uuid
          nullable: true
          readOnly: true
        Confirm:
          type: boolean
        DomainValidation:
          $ref: '#/components/schemas/DomainValidationOutput'
        DisplayIsPrimary:
          type: boolean
      additionalProperties: false
    FieldUpdateInput:
      type: object
      properties:
        AccessKey:
          type: string
          nullable: true
        FieldValues:
          type: array
          items:
            $ref: '#/components/schemas/FieldInput'
          nullable: true
        UpdateNewOnly:
          type: boolean
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
          nullable: true
        Message:
          type: string
          nullable: true
        Data:
          nullable: true
        StackTrace:
          type: string
          nullable: true
      additionalProperties: false
    CartIdOutput:
      type: object
      properties:
        CartId:
          type: string
          nullable: true
      additionalProperties: false
    FeeItemType:
      enum:
      - Fee
      - Tax
      type: string
    CartUpdateEventInput:
      type: object
      properties:
        AccessKey:
          type: string
          nullable: true
        ShippingId:
          type: string
          description: Deprecated. Delivery methods are no longer supported; this field is accepted for backwards compatibility but ignored.
          format: uuid
          nullable: true
        UnitPrice:
          type: number
          format: double
          nullable: true
        UnitAddons:
          type: number
          format: double
          nullable: true
        UnitDiscount:
          type: number
          format: double
          nullable: true
        UnitTax:
          type: number
          description: Flat tax amount applied to each attendee. Ignored when API.Models.CartUpdateEventInput.UnitFees is supplied.
          format: double
          nullable: true
        UnitFee:
          type: number
          description: Flat fee amount applied to each attendee. Ignored when API.Models.CartUpdateEventInput.UnitFees is supplied.
          format: double
          nullable: true
        UnitFees:
          type: array
          items:
            $ref: '#/components/schemas/UnitFeeLineItemInput'
          description: "Itemized fee/tax line items to apply to every attendee in the cart for this event.\r\nWhen supplied, this replaces the existing UnitFeesJson on each attendee and takes precedence over API.Models.CartUpdateEventInput.UnitFee and API.Models.CartUpdateEventInput.UnitTax.\r\nIf the existing attendees already have tax applied, the list must include at least one entry with FeeType=Tax."
          nullable: true
        UnitDelivery:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartUpdateEventInput.UnitFee; this field is accepted for backwards compatibility but ignored.
          format: double
          nullable: true
        DeliveryFee:
          type: number
          description: Deprecated. Delivery is no longer included in order totals; this field is accepted for backwards compatibility but ignored.
          format: double
          nullable: true
        Exclude:
          type: string
          nullable: true
      additionalProperties: false
    CartAttendeePromotionOutput:
      type: object
      properties:
        PromotionId:
          type: string
          format: uuid
        DiscountAmount:
          type: number
          format: double
      additionalProperties: false
    FormOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ObjectId:
          type: string
          format: uuid
        IsAttendee:
          type: boolean
        AttendeeNumber:
          type: integer
          format: int64
          nullable: true
        IsPreRegistered:
          type: boolean
        IsGift:
          type: boolean
        ShareEmail:
          type: string
          nullable: true
        CopyEnabled:
          type: boolean
        GiftingEnabled:
          type: boolean
        PreRegEnabled:
          type: boolean
        IsCopySource:
          type: boolean
        IsCopyDestination:
          type: boolean
          readOnly: true
        CanContinue:
          type: boolean
        AttendeeTypeId:
          type: string
          format: uuid
        AttendeeTypeName:
          type: string
          nullable: true
        IsCompleted:
          type: boolean
        SeatId:
          type: string
          format: uuid
          nullable: true
        SectionName:
          type: string
          nullable: true
        RowName:
          type: string
          nullable: true
        SeatLabel:
          type: string
          nullable: true
        DistanceCount:
          type: integer
          format: int32
          nullable: true
        UnitPrice:
          type: number
          format: double
        UnitAddons:
          type: number
          format: double
        UnitFee:
          type: number
          format: double
        UnitTax:
          type: number
          format: double
        DisplayPrice:
          type: number
          format: double
        PriceDescription:
          type: string
          nullable: true
        IsInclusiveFees:
          type: boolean
        IsInclusiveTaxes:
          type: boolean
        Culture:
          type: string
          nullable: true
        CopyableAttendeeNumbers:
          type: array
          items:
            type: integer
            format: int64
          nullable: true
        DisplayName:
          type: string
          nullable: true
          readOnly: true
        AttendeeDisplay:
          type: array
          items:
            type: string
          nullable: true
          readOnly: true
        Fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldOutput'
          nullable: true
      additionalProperties: false
    CartDeleteAttendeeOutput:
      type: object
      properties:
        ExpiresAt:
          type: string
          format: date-time
          nullable: true
        TotalCount:
          type: integer
          format: int32
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
    EventVerbiage:
      enum:
      - Registrations
      - Tickets
      type: string
    DomainValidationOutput:
      type: object
      properties:
        AllowDomains:
          type: array
          items:
            type: string
          nullable: true
        DisallowDomains:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    CartUpdateAttendeeInput:
      type: object
      properties:
        AccessKey:
          type: string
          nullable: true
        AttendeeTypeId:
          type: string
          format: uuid
          nullable: true
        GroupId:
          type: string
          format: uuid
          nullable: true
        UnitPrice:
          type: number
          format: double
          nullable: true
        UnitAddons:
          type: number
          format: double
          nullable: true
        UnitDiscount:
          type: number
          format: double
          nullable: true
        UnitTax:
          type: number
          description: Flat tax amount applied to this attendee. Ignored when API.Models.CartUpdateAttendeeInput.UnitFees is supplied.
          format: double
          nullable: true
        UnitFee:
          type: number
          description: Flat fee amount applied to this attendee. Ignored when API.Models.CartUpdateAttendeeInput.UnitFees is supplied.
          format: double
          nullable: true
        UnitFees:
          type: array
          items:
            $ref: '#/components/schemas/UnitFeeLineItemInput'
          description: "Itemized fee/tax line items to apply to this attendee.\r\nWhen supplied, takes precedence over API.Models.CartUpdateAttendeeInput.UnitFee and API.Models.CartUpdateAttendeeInput.UnitTax."
          nullable: true
        UnitDelivery:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartUpdateAttendeeInput.UnitFee; this field is accepted for backwards compatibility but ignored.
          format: double
          nullable: true
        Exclude:
          type: string
          nullable: true
        ExternalId:
          type: string
          nullable: true
      additionalProperties: false
    CartEventOutput:
      type: object
      properties:
        ExpiresAt:
          type: string
          format: date-time
          nullable: true
        ShowPromos:
          type: boolean
        Id:
          type: string
          format: uuid
        EventId:
          type: string
          format: uuid
        ClientId:
          type: string
          format: uuid
        ClientNumber:
          type: integer
          format: int64
        EventNumber:
          type: integer
          format: int64
        EventAcctCode:
          type: string
          nullable: true
        ClientKey:
          type: string
          nullable: true
        UrlKey:
          type: string
          nullable: true
        Title:
          type: string
          nullable: true
        Dates:
          type: array
          items:
            $ref: '#/components/schemas/EventDateOutput'
          nullable: true
        Culture:
          type: string
          nullable: true
        TicketLimit:
          type: integer
          format: int32
          nullable: true
        DeliveryFee:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: double
        ShippingId:
          type: string
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: uuid
          nullable: true
        ShippingIsElectronic:
          type: boolean
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          nullable: true
        ShippingIsPOS:
          type: boolean
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          nullable: true
        IsCompleted:
          type: boolean
        PaymentProfileId:
          type: string
          format: uuid
          nullable: true
        CartId:
          type: string
          nullable: true
        AnalyticsNumber:
          type: string
          nullable: true
        HasFields:
          type: boolean
        TimeZoneId:
          type: string
          nullable: true
        ImInImageUrl:
          type: string
          nullable: true
        LockInGroups:
          type: boolean
        ShippingIdName:
          type: string
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          nullable: true
        CanContinue:
          type: boolean
        GatewayDescription:
          type: string
          nullable: true
          readOnly: true
        Verbiage:
          type: string
          nullable: true
        VerbiageSetting:
          $ref: '#/components/schemas/EventVerbiage'
        SubTotal:
          type: number
          format: double
          readOnly: true
        EventTotal:
          type: number
          format: double
          readOnly: true
        TitleInfo:
          type: string
          nullable: true
        DateInfo:
          type: string
          nullable: true
        Items:
          type: array
          items:
            $ref: '#/components/schemas/CartAttendeeOutput'
          nullable: true
        DeliveryMethods:
          type: array
          items:
            $ref: '#/components/schemas/CartEventDeliveryMethodOutput'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          nullable: true
        PaymentMethods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodOutput'
          nullable: true
        Promotions:
          type: array
          items:
            $ref: '#/components/schemas/CartPromotionOutput'
          nullable: true
        StartsAt:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        AreaKey:
          type: string
          nullable: true
        CheckoutInfo:
          $ref: '#/components/schemas/CartCheckoutInfoOutput'
        OrderFee:
          type: number
          description: Deprecated. Order fee has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: double
        TaxLabel:
          type: string
          nullable: true
        TaxTotal:
          type: number
          format: double
        FeeTotal:
          type: number
          format: double
        DiscountTotal:
          type: number
          format: double
          readOnly: true
        AttendeeTotal:
          type: number
          format: double
          readOnly: true
      additionalProperties: false
    UnitFeeLineItemInput:
      required:
      - Amount
      - FeeType
      - Label
      type: object
      properties:
        Label:
          minLength: 1
          type: string
        FeeType:
          $ref: '#/components/schemas/FeeItemType'
        Amount:
          type: number
          format: double
      additionalProperties: false
    CartEventDeliveryMethodOutput:
      type: object
      properties:
        ShippingId:
          type: string
          format: uuid
        Method:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        EventFee:
          type: number
          format: double
          nullable: true
        TicketFee:
          type: number
          format: double
          nullable: true
        IsElectronic:
          type: boolean
        IsPointOfSale:
          type: boolean
        PricesVary:
          type: boolean
        TicketCount:
          type: integer
          format: int32
          nullable: true
        Fee:
          type: number
          format: double
          readOnly: true
      additionalProperties: false
      description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee; this class is kept for backwards compatibility but ignored.
    CartDeleteEventOutput:
      type: object
      properties:
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
    CartAddAttendeeItemInput:
      required:
      - EventId
      - Quantity
      - TypeId
      type: object
      properties:
        EventId:
          minLength: 1
          type: string
        TypeId:
          type: string
          format: uuid
        Quantity:
          type: integer
          format: int32
        GroupId:
          type: string
          nullable: true
        Amount:
          type: number
          format: double
        IsPreRegistered:
          type: boolean
        CustomAmount:
          type: number
          format: double
          nullable: true
        SelectedAmount:
          type: number
          format: double
          nullable: true
        SeatId:
          type: string
          format: uuid
          nullable: true
        SectionId:
          type: string
          format: uuid
          nullable: true
        ExternalId:
          type: string
          nullable: true
        ExternalDescription:
          type: string
          nullable: true
      additionalProperties: false
    CartAddPromotionInput:
      required:
      - CodeName
      type: object
      properties:
        CodeName:
          minLength: 1
          type: string
        AccessKey:
          type: string
          nullable: true
        Exclude:
          type: string
          nullable: true
      additionalProperties: false
    CartAttendeeFormInput:
      type: object
      properties:
        AccessKey:
          type: string
          nullable: true
        FieldValues:
          type: array
          items:
            $ref: '#/components/schemas/FieldInput'
          nullable: true
        UpdateNewOnly:
          type: boolean
        IsPreRegistered:
          type: boolean
        IsGift:
          type: boolean
        RecipientEmail:
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type: string
          nullable: true
      additionalProperties: false
    FieldInput:
      required:
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Value:
          nullable: true
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
