openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Attendees API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Attendees
paths:
  /attendees/{attendeeId}:
    get:
      tags:
      - Attendees
      summary: Retrieve all relevant attendee information for the given attendee number
      parameters:
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: eventId
        in: query
        description: An integer or a GUID that corresponds to a specific event (only necessary if sending an attendee code)
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: qrSize
        in: query
        description: The width and height of the QR Code. If blank, no QR will be sent.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeId
      x-operation-id-source: derived
  /attendees/{attendeeId}/cancel:
    post:
      tags:
      - Attendees
      summary: Cancel an attendee (zero financial change only)
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeCancelInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeCancelInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeCancelInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdCancel
      x-operation-id-source: derived
  /attendees/{attendeeId}/code:
    post:
      tags:
      - Attendees
      summary: Associate an external code with a Brushfire attendee for scanning, etc
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeCodeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeCodeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeCodeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdCode
      x-operation-id-source: derived
  /attendees/{attendeeId}/communities:
    get:
      tags:
      - Attendees
      summary: Gets all the available communities for this specific attendee based upon any…
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendeeCommunityOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendeeCommunityOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeIdCommunities
      x-operation-id-source: derived
  /attendees/{attendeeId}/community:
    post:
      tags:
      - Attendees
      summary: Set or clear the community for the specified attendee (as long as the group's…
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeCommunityInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeCommunityInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeCommunityInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdCommunity
      x-operation-id-source: derived
  /attendees/{attendeeId}/completed:
    post:
      tags:
      - Attendees
      summary: Set a registered attendee's completed state
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeCompletedInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeCompletedInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeCompletedInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdCompleted
      x-operation-id-source: derived
  /attendees/{attendeeId}/data:
    get:
      tags:
      - Attendees
      summary: Returns all data for the specified attendee in the same structure as…
      parameters:
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
            text/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeIdData
      x-operation-id-source: derived
  /attendees/{attendeeId}/donate:
    post:
      tags:
      - Attendees
      summary: Donate back an attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeDonateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeDonateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeDonateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdDonate
      x-operation-id-source: derived
  /attendees/{attendeeId}/fields:
    get:
      tags:
      - Attendees
      summary: Retrieve fields for an attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeIdFields
      x-operation-id-source: derived
    post:
      tags:
      - Attendees
      summary: Update fields for an attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdFields
      x-operation-id-source: derived
  /attendees/{attendeeId}/fieldscustom:
    get:
      tags:
      - Attendees
      summary: Retrieve fields for an attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: fieldsToInclude
        in: query
        description: The Id's of the fields you want returned
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeIdFieldscustom
      x-operation-id-source: derived
    post:
      tags:
      - Attendees
      summary: Update fields for an attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdFieldscustom
      x-operation-id-source: derived
  /attendees/{attendeeId}/gift:
    post:
      tags:
      - Attendees
      summary: Set an attendee registration as a gift
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateGiftInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateGiftInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateGiftInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeUpdateGiftOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeUpdateGiftOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdGift
      x-operation-id-source: derived
  /attendees/{attendeeId}/group:
    post:
      tags:
      - Attendees
      summary: Set or clear the group (and the associated community) for the specified attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeGroupInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeGroupInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeGroupInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdGroup
      x-operation-id-source: derived
  /attendees/{attendeeId}/link:
    post:
      tags:
      - Attendees
      summary: Copy all fields from the source attendee to the specified attendee and link…
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeLinkInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeLinkInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeLinkInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdLink
      x-operation-id-source: derived
  /attendees/{attendeeId}/print:
    get:
      tags:
      - Attendees
      summary: Retrieve the printable resources for a single attendee
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: A string that is one of "Ticket", "ETicket", or "Namebadge"
        schema:
          $ref: '#/components/schemas/PrintType'
      - name: format
        in: query
        description: A string that is one of "PDF", "PNG", "JPG", "GIF", "BMP" or "TIFF"
        schema:
          $ref: '#/components/schemas/PrintFormat'
      - name: imageDpi
        in: query
        description: An int representing the dots per inch of the images produced that is 72, 96, 150, 300 or 600. 0 for PDF
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
            text/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesByAttendeeIdPrint
      x-operation-id-source: derived
  /attendees/{attendeeId}/type:
    post:
      tags:
      - Attendees
      summary: Change an attendee type (zero financial change only)
      parameters:
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateTypeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateTypeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeUpdateTypeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderCreateOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesByAttendeeIdType
      x-operation-id-source: derived
  /attendees/helpdesk/{email}:
    get:
      tags:
      - Attendees
      summary: Retrieve attendees that match provided email
      parameters:
      - name: email
        in: path
        description: An email to search across attendee email fields
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendeeHelpdeskOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendeeHelpdeskOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAttendeesHelpdeskByEmail
      x-operation-id-source: derived
  /attendees/ids:
    post:
      tags:
      - Attendees
      summary: Convert a list of attendee numbers to their corresponding unique IDs, checking…
      requestBody:
        description: Object containing list of attendee numbers to convert
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeeNumbersToIdsInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeeNumbersToIdsInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeeNumbersToIdsInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeNumbersToIdsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeNumbersToIdsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesIds
      x-operation-id-source: derived
  /attendees/print:
    post:
      tags:
      - Attendees
      summary: Retrieve the printable resources for multiple attendees
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendeePrintInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AttendeePrintInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttendeePrintInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
            text/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAttendeesPrint
      x-operation-id-source: derived
components:
  schemas:
    AttendeeNumbersToIdsInput:
      required:
      - AttendeeNumbers
      type: object
      properties:
        AttendeeNumbers:
          type: array
          items:
            type: integer
            format: int64
          description: List of attendee numbers to convert to unique identifiers
      additionalProperties: false
      description: Input model for converting attendee numbers to unique identifiers
    AttendeeLinkInput:
      type: object
      properties:
        SourceAttendeeId:
          type:
          - string
          - 'null'
        AccessKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeCommunityOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Partition:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Capacity:
          type: integer
          format: int32
        AttendeeCount:
          type: integer
          format: int32
        GroupCount:
          type: integer
          format: int32
        Tags:
          type:
          - array
          - 'null'
          items:
            type: string
        RemainingCount:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldUpdateInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        FieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInput'
        UpdateNewOnly:
          type: boolean
      additionalProperties: false
    AttendeeUpdateGiftInput:
      type: object
      properties:
        IsGift:
          type: boolean
        FromName:
          type:
          - string
          - 'null'
        FromEmail:
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type:
          - string
          - 'null'
        RecipientEmail:
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type:
          - string
          - 'null'
        RecipientMessage:
          type:
          - string
          - 'null'
      additionalProperties: false
    OrderResultOutput:
      type: object
      properties:
        OrderKey:
          type:
          - string
          - 'null'
        OrderId:
          type: string
          format: uuid
        ObjectNumber:
          type: integer
          format: int64
        OrderTotal:
          type: number
          format: double
        Quantity:
          type: integer
          format: int32
        AttendeeCount:
          type: integer
          format: int32
        AddonCount:
          type: integer
          format: int32
        Summary:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        ContactEmail:
          type:
          - string
          - 'null'
        AnyGeneratesTicket:
          type: boolean
      additionalProperties: false
    DomainValidationOutput:
      type: object
      properties:
        AllowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
        DisallowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    AttendeeCancelInput:
      type: object
      properties:
        Penalty:
          type: number
          format: double
        AccessKey:
          type:
          - string
          - 'null'
        SendEmail:
          type: boolean
        ReservedStateId:
          type:
          - integer
          - 'null'
          format: int32
        Via:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldDisplayOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Label:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        IsSensitive:
          type: boolean
        OptionIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    PrintFormat:
      enum:
      - PDF
      - PNG
      - JPG
      - GIF
      - BMP
      - TIFF
      - ZPL
      type: string
    AttendeeCommunityInput:
      type: object
      properties:
        CommunityId:
          type:
          - string
          - 'null'
          format: uuid
        AccessKey:
          type:
          - string
          - 'null'
        OverrideCapacity:
          type: boolean
        OverrideGroup:
          type: boolean
      additionalProperties: false
    AttendeeCodeInput:
      type: object
      properties:
        AttendeeCode:
          type:
          - string
          - 'null'
        AccessKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeCheckinOutput:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        SessionNumber:
          type: integer
          format: int64
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        CheckedIn:
          type: boolean
        IsHidden:
          type: boolean
      additionalProperties: false
    FieldInput:
      required:
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Value: {}
      additionalProperties: false
    AttendeeDonateInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        SendEmail:
          type: boolean
        ReservedStateId:
          type:
          - integer
          - 'null'
          format: int32
        Via:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeCompletedInput:
      required:
      - IsCompleted
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
      additionalProperties: false
    AttendeeNumbersToIdsOutput:
      type: object
      properties:
        Results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeConversionResult'
          description: List of results for each requested attendee number
      additionalProperties: false
      description: Output model containing converted attendee identifiers and status information
    AttendeeDetailsOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        AttendeeCode:
          type:
          - string
          - 'null'
        EventId:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        Status:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        IsPreRegistered:
          type: boolean
        IsPrinted:
          type: boolean
        ShareEmail:
          type:
          - string
          - 'null'
        GiftLastSentAt:
          type:
          - string
          - 'null'
          format: date-time
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Phone:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        Street1:
          type:
          - string
          - 'null'
        Street2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        TypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        Wheelchair:
          type:
          - boolean
          - 'null'
        LimitedView:
          type:
          - boolean
          - 'null'
        Amount:
          type: number
          format: double
        SeatInfo:
          type:
          - string
          - 'null'
          readOnly: true
        CommunityId:
          type:
          - string
          - 'null'
          format: uuid
        CommunityName:
          type:
          - string
          - 'null'
        CommunityPartition:
          type:
          - string
          - 'null'
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        GroupName:
          type:
          - string
          - 'null'
        GroupEmail:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        OrderFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        GroupFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        Checkins:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeCheckinOutput'
        FlexPassCheckins:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeFlexPassCheckinOutput'
        QRCode:
          type:
          - string
          - 'null'
        IsAnonymized:
          type: boolean
        FlexPass:
          $ref: '#/components/schemas/AttendeeFlexPassOutput'
        IsFlexPass:
          type: boolean
        AttendeeDisplay:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        OrderedAt:
          type:
          - string
          - 'null'
          format: date-time
        ShareEnabled:
          type: boolean
        IsAddon:
          type: boolean
        GeneratesTicket:
          type: boolean
        OrderKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeePrintInput:
      required:
      - Attendees
      - EventId
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/PrintType'
        Attendees:
          type: array
          items:
            type: integer
            format: int64
        EventId:
          minLength: 1
          type: string
        Format:
          $ref: '#/components/schemas/PrintFormat'
        ImageDpi:
          type: integer
          format: int32
      additionalProperties: false
    AttendeeGroupInput:
      type: object
      properties:
        GroupId:
          type:
          - string
          - 'null'
        OverrideCommunityCapacity:
          type: boolean
        AccessKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeDisplayOutput:
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
        Line2:
          type:
          - string
          - 'null'
        Line3:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeFlexPassCheckinOutput:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        SessionNumber:
          type: integer
          format: int64
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        AttendeeCheckinId:
          type:
          - string
          - 'null'
          format: uuid
        EventNumber:
          type: integer
          format: int64
        TitleInfo:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeHelpdeskOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        EventNumber:
          type: integer
          format: int64
        EventTitle:
          type:
          - string
          - 'null'
        EventSubtitle:
          type:
          - string
          - 'null'
        Status:
          type:
          - string
          - 'null'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        TypeName:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        SeatInfo:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
      additionalProperties: false
    PrintType:
      enum:
      - Ticket
      - ETicket
      - Receipt
      - MailingLabel
      - WillCall
      - NameBadge
      - Season
      type: string
    AttendeeFlexPassOutput:
      type: object
      properties:
        FlexTotal:
          type:
          - integer
          - 'null'
          format: int32
        FlexPer:
          type:
          - integer
          - 'null'
          format: int32
        FlexStartsAt:
          type:
          - string
          - 'null'
          format: date-time
        FlexEndsAt:
          type:
          - string
          - 'null'
          format: date-time
        FlexSummary:
          type:
          - string
          - 'null'
        FlexRedemptions:
          type: integer
          format: int32
        FlexRedemptionsText:
          type:
          - string
          - 'null'
        FlexRelativeDays:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptionsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldOptionFullOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type:
          - string
          - 'null'
        Capacity:
          type:
          - integer
          - 'null'
          format: int32
        Quantity:
          type: integer
          format: int32
        HasUnitPrice:
          type: boolean
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        UnitTax:
          type:
          - number
          - 'null'
          format: double
        IsInclusiveTaxes:
          type: boolean
        DisplayPrice:
          type:
          - number
          - 'null'
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        IsSelected:
          type: boolean
        HasCapacity:
          type: boolean
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        RemainingText:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Value: {}
        DisplayValue:
          type:
          - string
          - 'null'
        ValidationExpression:
          type:
          - string
          - 'null'
        IsRequired:
          type: boolean
        Notes:
          type:
          - string
          - 'null'
        ErrorMessage:
          type:
          - string
          - 'null'
        IsDisabled:
          type: boolean
        IsSensitive:
          type: boolean
        SpecialFieldId:
          type: string
          format: uuid
        ParentOptionId:
          type:
          - string
          - 'null'
          format: uuid
        ParentFieldId:
          type:
          - string
          - 'null'
          format: uuid
        FormObjectId:
          type:
          - string
          - 'null'
          format: uuid
        Options:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldOptionFullOutput'
        ParentOptionIsSelected:
          type: boolean
        HasError:
          type: boolean
        HasRelevantOutput:
          type: boolean
        MinDate:
          type:
          - string
          - 'null'
          format: date-time
        MaxDate:
          type:
          - string
          - 'null'
          format: date-time
        AttendeeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        RemoteUrl:
          type:
          - string
          - 'null'
        SelectedOptionId:
          type:
          - string
          - 'null'
          format: uuid
          readOnly: true
        Confirm:
          type: boolean
        DomainValidation:
          $ref: '#/components/schemas/DomainValidationOutput'
        DisplayIsPrimary:
          type: boolean
      additionalProperties: false
    AttendeeConversionResult:
      type: object
      properties:
        AttendeeNumber:
          type: integer
          description: The original attendee number requested
          format: int64
        AttendeeId:
          type:
          - string
          - 'null'
          description: The unique identifier if conversion was successful
          format: uuid
        Success:
          type: boolean
          description: Whether the conversion was successful
        Message:
          type:
          - string
          - 'null'
          description: Reason for failure if unsuccessful
      additionalProperties: false
      description: Result of converting an attendee number to a unique identifier
    OrderCreateOutput:
      type: object
      properties:
        RequiresAction:
          type: boolean
        ActionInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        Results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OrderResultOutput'
      additionalProperties: false
    AttendeeUpdateTypeInput:
      required:
      - AttendeeTypeId
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        AttendeeTypeId:
          type: string
          format: uuid
        Amount:
          type:
          - number
          - 'null'
          format: double
        SendEmail:
          type: boolean
        Via:
          type:
          - string
          - 'null'
        ExternalDescription:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeUpdateGiftOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        EventId:
          type: string
          format: uuid
        AttendeeTypeId:
          type: string
          format: uuid
        AttendeeCode:
          type:
          - string
          - 'null'
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        IsCompleted:
          type: boolean
        CurrentOrderId:
          type:
          - string
          - 'null'
          format: uuid
        OriginalOrderId:
          type:
          - string
          - 'null'
          format: uuid
        CartId:
          type:
          - string
          - 'null'
        IsGift:
          type: boolean
        IsPreRegistered:
          type: boolean
        RecipientEmail:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
