openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Regions API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Regions
paths:
  /regions:
    get:
      tags:
      - Regions
      summary: List all countries and regions with their Code for use in other calls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionDetailOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionDetailOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getRegions
      x-operation-id-source: derived
components:
  schemas:
    RegionDetailOutput:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        ISO:
          type:
          - integer
          - 'null'
          format: int32
        Regions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RegionDetailOutput'
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
