openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Data API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Data
paths:
  /data/{id}:
    get:
      tags:
      - Data
      summary: Returns specialized data from custom-written queries
      parameters:
      - name: id
        in: path
        description: The GUID for the query you are running
        required: true
        schema:
          type: string
          format: uuid
      - name: eventNumber
        in: query
        description: If present, an integer representing the event number
        schema:
          type: integer
          format: int64
      - name: granularity
        in: query
        description: If present, one of the following string values "hour", "minute", or "day"
        schema:
          $ref: '#/components/schemas/CustomQueryGranularity'
      - name: startsAt
        in: query
        description: If present, the date/time in UTC to start data
        schema:
          type: string
          format: date-time
      - name: endsAt
        in: query
        description: If present, the date/time in UTC to end data
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
            text/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getDataById
      x-operation-id-source: derived
components:
  schemas:
    CustomQueryGranularity:
      enum:
      - Minute
      - Hour
      - Day
      type: string
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
