openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Accounts API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Accounts
paths:
  /accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Retrieve information for a specific account
      parameters:
      - name: accountId
        in: path
        description: An Email, a GUID, an Access Key, or an integer that corresponds to a specific account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - apiKey: []
      operationId: getAccountsByAccountId
      x-operation-id-source: derived
  /accounts/auth:
    post:
      tags:
      - Accounts
      summary: Authenticate a user via email and password or social service to get Access Key
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAuthInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AccountAuthInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountAuthInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountAuthOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - apiKey: []
      operationId: postAccountsAuth
      x-operation-id-source: derived
  /accounts/helpdesk/{email}:
    get:
      tags:
      - Accounts
      summary: Retrieve an account that matches the provided email
      parameters:
      - name: email
        in: path
        description: An Email that corresponds to a specific account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHelpdeskOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountHelpdeskOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - apiKey: []
      operationId: getAccountsHelpdeskByEmail
      x-operation-id-source: derived
components:
  schemas:
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiError:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    AccountAuthOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        AccountNumber:
          type: integer
          format: int64
        AccessKey:
          type:
          - string
          - 'null'
        IsUser:
          type: boolean
        AvatarUrl:
          type:
          - string
          - 'null'
        IsBrushfireStaff:
          type: boolean
      additionalProperties: false
    AccountRoleOutput:
      type: object
      properties:
        ClientId:
          type: string
          format: uuid
        ClientKey:
          type:
          - string
          - 'null'
        ClientNumber:
          type: integer
          format: int64
        ClientName:
          type:
          - string
          - 'null'
        ClientCity:
          type:
          - string
          - 'null'
        ClientRegion:
          type:
          - string
          - 'null'
        ClientCountry:
          type:
          - string
          - 'null'
        Level:
          type:
          - string
          - 'null'
      additionalProperties: false
    AccountAuthInput:
      required:
      - Email
      - Password
      type: object
      properties:
        Email:
          minLength: 1
          type: string
        Password:
          maxLength: 64
          minLength: 8
          type: string
      additionalProperties: false
    AccountHelpdeskOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AccountNumber:
          type: integer
          format: int64
        Email:
          type:
          - string
          - 'null'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        IsUser:
          type: boolean
        ClientRoles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AccountRoleOutput'
      additionalProperties: false
    AccountSingleOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AccountNumber:
          type: integer
          format: int64
        Email:
          type:
          - string
          - 'null'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Street1:
          type:
          - string
          - 'null'
        Street2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        Phone:
          type:
          - string
          - 'null'
        Address:
          type:
          - string
          - 'null'
        CreatedAt:
          type: string
          format: date-time
        IsUser:
          type: boolean
        AvatarUrl:
          type:
          - string
          - 'null'
        IsBrushfireStaff:
          type: boolean
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
