openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Sessions API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Sessions
paths:
  /sessions/{sessionId}:
    get:
      tags:
      - Sessions
      summary: Get detailed information about a given session
      parameters:
      - name: sessionId
        in: path
        description: An integer that corresponds to a specific session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSessionOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSessionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionId
      x-operation-id-source: derived
  /sessions/{sessionId}/attendees:
    get:
      tags:
      - Sessions
      summary: Get a list of all of the attendees for a given check-in session
      parameters:
      - name: sessionId
        in: path
        description: The session number for which to retrieve attendees
        required: true
        schema:
          type: string
      - name: search
        in: query
        description: An optional search string for filtering attendees
        schema:
          type: string
          default: ''
      - name: qty
        in: query
        description: An integer to limit the number of results returned
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: An integer to skip the first attendees returned
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionAttendeeListOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/SessionAttendeeListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionIdAttendees
      x-operation-id-source: derived
  /sessions/{sessionId}/checkin:
    post:
      tags:
      - Sessions
      summary: Check in one or more attendees for a specific session
      parameters:
      - name: sessionId
        in: path
        description: An integer representing the session to check into
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCheckinMultipleInput'
          text/json:
            schema:
              $ref: '#/components/schemas/SessionCheckinMultipleInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SessionCheckinMultipleInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionCheckinMultipleOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionCheckinMultipleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postSessionsBySessionIdCheckin
      x-operation-id-source: derived
  /sessions/{sessionId}/checkout:
    post:
      tags:
      - Sessions
      summary: Check out one or more attendees for a specific session
      parameters:
      - name: sessionId
        in: path
        description: An integer representing the session to check out of
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCheckoutMultipleInput'
          text/json:
            schema:
              $ref: '#/components/schemas/SessionCheckoutMultipleInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SessionCheckoutMultipleInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionCheckoutMultipleOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionCheckoutMultipleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postSessionsBySessionIdCheckout
      x-operation-id-source: derived
  /sessions/{sessionId}/email/{email}:
    get:
      tags:
      - Sessions
      summary: Retrieve attendee data from a specific email and session
      parameters:
      - name: email
        in: path
        description: A string representing an email address
        required: true
        schema:
          type: string
      - name: sessionId
        in: path
        description: An integer representing a specific session
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionAttendeeOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionIdEmailByEmail
      x-operation-id-source: derived
  /sessions/{sessionId}/flex/{attendeeId}:
    get:
      tags:
      - Sessions
      summary: Get detailed information about a given flex attendee in a specific session
      parameters:
      - name: sessionId
        in: path
        description: An integer that corresponds to a specific session
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer that corresponds to a specific attendee
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionIdFlexByAttendeeId
      x-operation-id-source: derived
  /sessions/{sessionId}/flex/checkin:
    post:
      tags:
      - Sessions
      summary: Checkin a flex pass attendee for a specific session
      parameters:
      - name: sessionId
        in: path
        description: An integer representing the session to check into
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckinInput'
          text/json:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckinInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckinInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFlexPassCheckinOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/SessionFlexPassCheckinOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postSessionsBySessionIdFlexCheckin
      x-operation-id-source: derived
  /sessions/{sessionId}/flex/checkout:
    post:
      tags:
      - Sessions
      summary: Check out a flex pass attendee for a specific session
      parameters:
      - name: sessionId
        in: path
        description: An integer representing the session to check out of
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckoutInput'
          text/json:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckoutInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SessionFlexPassCheckoutInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFlexPassCheckoutOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/SessionFlexPassCheckoutOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postSessionsBySessionIdFlexCheckout
      x-operation-id-source: derived
  /sessions/{sessionId}/groups/{groupId}:
    get:
      tags:
      - Sessions
      summary: Get all details, including checkin info for a group in a given session
      parameters:
      - name: groupId
        in: path
        description: An integer or GUID representing a specific group
        required: true
        schema:
          type: string
      - name: sessionId
        in: path
        description: An integer representing a specific session
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionGroupDetailOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/SessionGroupDetailOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionIdGroupsByGroupId
      x-operation-id-source: derived
  /sessions/{sessionId}/orders/{orderId}:
    get:
      tags:
      - Sessions
      summary: Retrieve Order and Buyer data from a specific order and session
      parameters:
      - name: orderId
        in: path
        description: A string (orderKey) or a GUID representing a specific order
        required: true
        schema:
          type: string
      - name: sessionId
        in: path
        description: An integer representing a specific session
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionOrderDetailOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/SessionOrderDetailOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getSessionsBySessionIdOrdersByOrderId
      x-operation-id-source: derived
components:
  schemas:
    SessionFlexPassCheckoutOutput:
      type: object
      properties:
        Success:
          type: boolean
        Message:
          type:
          - string
          - 'null'
        FlexRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        FlexRedemptionsText:
          type:
          - string
          - 'null'
        EventRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptionsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    SessionFlexPassAttendeeOutput:
      type: object
      properties:
        AttendeeNumber:
          type: integer
          format: int64
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        TypeName:
          type:
          - string
          - 'null'
        CheckedIn:
          type: boolean
        FlexPass:
          $ref: '#/components/schemas/AttendeeFlexPassOutput'
        IsAddon:
          type: boolean
      additionalProperties: false
    SessionAttendeeListOutput:
      type: object
      properties:
        SessionAttendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SessionAttendeeOutput'
        FlexAttendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SessionFlexPassAttendeeOutput'
      additionalProperties: false
    FieldDisplayOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Label:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        IsSensitive:
          type: boolean
        OptionIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    SessionFlexPassCheckinOutput:
      type: object
      properties:
        Success:
          type: boolean
        Message:
          type:
          - string
          - 'null'
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        AttendeeCheckinIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        FlexRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        FlexRedemptionsText:
          type:
          - string
          - 'null'
        EventRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptionsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    SessionAttendeeOutput:
      type: object
      properties:
        AttendeeNumber:
          type: integer
          format: int64
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        TypeName:
          type:
          - string
          - 'null'
        CheckedIn:
          type: boolean
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        SeatInfo:
          type:
          - string
          - 'null'
          readOnly: true
        IsAddon:
          type: boolean
      additionalProperties: false
    SessionGroupDetailOutput:
      type: object
      properties:
        GroupNumber:
          type: integer
          format: int64
        EventId:
          type: string
          format: uuid
        AttendeeTypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        AttendeeCount:
          type: integer
          format: int32
        CommunityId:
          type:
          - string
          - 'null'
          format: uuid
        CommunityPartition:
          type:
          - string
          - 'null'
        CommunityName:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        Attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SessionAttendeeOutput'
      additionalProperties: false
    AttendeeCheckinOutput:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        SessionNumber:
          type: integer
          format: int64
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        CheckedIn:
          type: boolean
        IsHidden:
          type: boolean
      additionalProperties: false
    SessionFlexPassCheckoutInput:
      required:
      - AttendeeCheckinId
      - AttendeeId
      type: object
      properties:
        AttendeeCheckinId:
          type: string
          format: uuid
        AttendeeId:
          minLength: 1
          type: string
      additionalProperties: false
    AttendeeDetailsOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        AttendeeCode:
          type:
          - string
          - 'null'
        EventId:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        Status:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        IsPreRegistered:
          type: boolean
        IsPrinted:
          type: boolean
        ShareEmail:
          type:
          - string
          - 'null'
        GiftLastSentAt:
          type:
          - string
          - 'null'
          format: date-time
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Phone:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        Street1:
          type:
          - string
          - 'null'
        Street2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        TypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        Wheelchair:
          type:
          - boolean
          - 'null'
        LimitedView:
          type:
          - boolean
          - 'null'
        Amount:
          type: number
          format: double
        SeatInfo:
          type:
          - string
          - 'null'
          readOnly: true
        CommunityId:
          type:
          - string
          - 'null'
          format: uuid
        CommunityName:
          type:
          - string
          - 'null'
        CommunityPartition:
          type:
          - string
          - 'null'
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        GroupName:
          type:
          - string
          - 'null'
        GroupEmail:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        OrderFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        GroupFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        Checkins:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeCheckinOutput'
        FlexPassCheckins:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeFlexPassCheckinOutput'
        QRCode:
          type:
          - string
          - 'null'
        IsAnonymized:
          type: boolean
        FlexPass:
          $ref: '#/components/schemas/AttendeeFlexPassOutput'
        IsFlexPass:
          type: boolean
        AttendeeDisplay:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        OrderedAt:
          type:
          - string
          - 'null'
          format: date-time
        ShareEnabled:
          type: boolean
        IsAddon:
          type: boolean
        GeneratesTicket:
          type: boolean
        OrderKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    SessionCheckinMultipleInput:
      type: object
      properties:
        Codes:
          type:
          - array
          - 'null'
          items:
            type: string
        Entries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SessionCheckinEntryItem'
        IsVerified:
          type: boolean
      additionalProperties: false
    AttendeeDisplayOutput:
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
        Line2:
          type:
          - string
          - 'null'
        Line3:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttendeeFlexPassCheckinOutput:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        SessionNumber:
          type: integer
          format: int64
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        AttendeeCheckinId:
          type:
          - string
          - 'null'
          format: uuid
        EventNumber:
          type: integer
          format: int64
        TitleInfo:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    SessionCheckinMultipleOutput:
      type: object
      properties:
        Success:
          type: boolean
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        Message:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        RequiresVerification:
          type: boolean
      additionalProperties: false
    SessionOrderDetailOutput:
      type: object
      properties:
        OrderKey:
          type:
          - string
          - 'null'
        ObjectNumber:
          type: integer
          format: int64
        AttendeeCount:
          type: integer
          format: int32
        OrderedAt:
          type: string
          format: date-time
        BillingName:
          type:
          - string
          - 'null'
        BillingAddress:
          type:
          - string
          - 'null'
        BillingFirstName:
          type:
          - string
          - 'null'
        BillingLastName:
          type:
          - string
          - 'null'
        BillingOrganization:
          type:
          - string
          - 'null'
        BillingStreet1:
          type:
          - string
          - 'null'
        BillingStreet2:
          type:
          - string
          - 'null'
        BillingCity:
          type:
          - string
          - 'null'
        BillingRegion:
          type:
          - string
          - 'null'
        BillingPostal:
          type:
          - string
          - 'null'
        BillingCountry:
          type:
          - string
          - 'null'
        ContactPhone:
          type:
          - string
          - 'null'
        ContactEmail:
          type:
          - string
          - 'null'
        PaymentMethods:
          type:
          - array
          - 'null'
          items:
            type: string
        PaymentMethod:
          type:
          - string
          - 'null'
          readOnly: true
        DeliveryMethod:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        Attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SessionAttendeeOutput'
      additionalProperties: false
    SessionCheckoutMultipleOutput:
      type: object
      properties:
        Success:
          type: boolean
        CheckedInAt:
          type:
          - string
          - 'null'
          format: date-time
        Message:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventSessionOutput:
      type: object
      properties:
        SessionNumber:
          type: integer
          format: int64
        Name:
          type:
          - string
          - 'null'
        AttendeeTotal:
          type: integer
          format: int32
        CheckedInCount:
          type: integer
          format: int32
        Type:
          type:
          - string
          - 'null'
        IsHidden:
          type: boolean
        AllowFlex:
          type:
          - boolean
          - 'null'
        FlexPassCount:
          type: integer
          format: int32
        FlexAttendeeTotal:
          type: integer
          format: int32
        IsTimeSlot:
          type: boolean
        MinutesBefore:
          type: integer
          format: int32
        MinutesAfter:
          type: integer
          format: int32
        AllowPasses:
          type: boolean
      additionalProperties: false
    AttendeeFlexPassOutput:
      type: object
      properties:
        FlexTotal:
          type:
          - integer
          - 'null'
          format: int32
        FlexPer:
          type:
          - integer
          - 'null'
          format: int32
        FlexStartsAt:
          type:
          - string
          - 'null'
          format: date-time
        FlexEndsAt:
          type:
          - string
          - 'null'
          format: date-time
        FlexSummary:
          type:
          - string
          - 'null'
        FlexRedemptions:
          type: integer
          format: int32
        FlexRedemptionsText:
          type:
          - string
          - 'null'
        FlexRelativeDays:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptions:
          type:
          - integer
          - 'null'
          format: int32
        EventRedemptionsText:
          type:
          - string
          - 'null'
      additionalProperties: false
    SessionCheckinEntryItem:
      required:
      - CheckedInAt
      - Code
      type: object
      properties:
        Code:
          minLength: 1
          type: string
        CheckedInAt:
          type: string
          format: date-time
      additionalProperties: false
    SessionCheckoutMultipleInput:
      type: object
      properties:
        Codes:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    SessionFlexPassCheckinInput:
      required:
      - AttendeeId
      - Quantity
      type: object
      properties:
        Quantity:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
        AttendeeId:
          minLength: 1
          type: string
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
