openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Payment Profiles API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: PaymentProfiles
paths:
  /paymentprofiles:
    get:
      tags:
      - PaymentProfiles
      summary: Returns all payment profiles for the specified client
      parameters:
      - name: clientId
        in: query
        description: A string, a GUID, or an integer that corresponds to a specific client
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentProfileListOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentProfileListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getPaymentprofiles
      x-operation-id-source: derived
  /paymentprofiles/{paymentProfileId}:
    get:
      tags:
      - PaymentProfiles
      summary: Returns the details of the specified payment profile
      parameters:
      - name: paymentProfileId
        in: path
        description: A GUID that corresponds to a specific payment profile
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProfileSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentProfileSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getPaymentprofilesByPaymentProfileId
      x-operation-id-source: derived
  /paymentprofiles/{paymentProfileId}/locations:
    get:
      tags:
      - PaymentProfiles
      summary: Returns the locations associated with the merchant ID of a given payment profile
      parameters:
      - name: paymentProfileId
        in: path
        description: A GUID that corresponds to a specific payment profile
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationSingleOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getPaymentprofilesByPaymentProfileIdLocations
      x-operation-id-source: derived
  /paymentprofiles/{paymentProfileId}/terminals:
    get:
      tags:
      - PaymentProfiles
      summary: Returns all terminals registered to the account associated with the supplied…
      parameters:
      - name: paymentProfileId
        in: path
        description: A GUID that corresponds to a specific payment profile
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TerminalOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TerminalOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getPaymentprofilesByPaymentProfileIdTerminals
      x-operation-id-source: derived
    post:
      tags:
      - PaymentProfiles
      summary: Add a terminal to the supplied payment profile
      parameters:
      - name: paymentProfileId
        in: path
        description: A GUID that corresponds to a specific payment profile
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalCreateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/TerminalCreateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalCreateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalCreateOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/TerminalCreateOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postPaymentprofilesByPaymentProfileIdTerminals
      x-operation-id-source: derived
components:
  schemas:
    PaymentMethodListOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        IsEnabled:
          type: boolean
      additionalProperties: false
    TerminalOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        SerialNumber:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Display:
          type:
          - string
          - 'null'
      additionalProperties: false
    PaymentProfileConfigOutput:
      type: object
      properties:
        LocationId:
          type:
          - string
          - 'null'
        LocationName:
          type:
          - string
          - 'null'
        MerchantId:
          type:
          - string
          - 'null'
        MerchantName:
          type:
          - string
          - 'null'
        AccessToken:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        InternalDescription:
          type:
          - string
          - 'null'
        Invoice:
          $ref: '#/components/schemas/PaymentProfileConfigInvoiceItem'
        Scopes:
          type:
          - array
          - 'null'
          items:
            type: string
        Status:
          type:
          - string
          - 'null'
        AllowCards:
          type: boolean
        AllowWallets:
          type: boolean
        AllowAch:
          type: boolean
        AllowAfterpay:
          type: boolean
        AllowCashApp:
          type: boolean
        AllowGiftCards:
          type: boolean
      additionalProperties: false
    PaymentProfileListOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        AccountName:
          type:
          - string
          - 'null'
        GatewayId:
          type: string
          format: uuid
        GatewayName:
          type:
          - string
          - 'null'
        SupportsAutoFees:
          type: boolean
        SupportsSideloading:
          type: boolean
        AllowsReferenceSales:
          type: boolean
        AllowsStandaloneCredits:
          type: boolean
        ReferenceDayLimit:
          type: integer
          format: int32
        Options:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        ElectronicPaymentMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentMethodListOutput'
        Config:
          $ref: '#/components/schemas/PaymentProfileConfigOutput'
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    PaymentProfileSingleOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        AccountName:
          type:
          - string
          - 'null'
        GatewayId:
          type: string
          format: uuid
        GatewayName:
          type:
          - string
          - 'null'
        SupportsAutoFees:
          type: boolean
        SupportsSideloading:
          type: boolean
        AllowsReferenceSales:
          type: boolean
        AllowsStandaloneCredits:
          type: boolean
        ReferenceDayLimit:
          type: integer
          format: int32
        Options:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        ElectronicPaymentMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentMethodListOutput'
        Config:
          $ref: '#/components/schemas/PaymentProfileConfigOutput'
      additionalProperties: false
    TerminalCreateOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        SerialNumber:
          type:
          - string
          - 'null'
        PairingCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    PaymentProfileConfigInvoiceItem:
      type: object
      properties:
        AllowAdmin:
          type: boolean
        AllowInternet:
          type: boolean
        RelativeDays:
          type: integer
          format: int32
      additionalProperties: false
    TerminalCreateInput:
      type: object
      properties:
        LocationId:
          type:
          - string
          - 'null'
        PairingCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    LocationSingleOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Address:
          type:
          - string
          - 'null'
          readOnly: true
        IsSelected:
          type: boolean
        IsActive:
          type: boolean
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
