openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Events API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Events
paths:
  /events:
    get:
      tags:
      - Events
      summary: Get a list of events for the specified user
      parameters:
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: search
        in: query
        description: A string to filter events
        schema:
          type: string
      - name: inactive
        in: query
        description: Boolean pass in true to return inactive events.
        schema:
          type: boolean
          default: false
      - name: qty
        in: query
        description: An integer to limit the number of results returned
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: An integer to skip the first events returned
        schema:
          type: integer
          format: int32
      - name: archive
        in: query
        description: Boolean to return archived or not archvied events
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventListOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEvents
      x-operation-id-source: derived
    post:
      tags:
      - Events
      summary: Create a fully complete event
      requestBody:
        description: The request body to create an event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/EventCreateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventCreateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postEvents
      x-operation-id-source: derived
  /events/{eventId}:
    delete:
      tags:
      - Events
      summary: Delete an event
      parameters:
      - name: accessKey
        in: query
        description: Access Key for user account
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to the specific event you would like to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: deleteEventsByEventId
      x-operation-id-source: derived
    get:
      tags:
      - Events
      summary: Retrieve information for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventId
      x-operation-id-source: derived
  /events/{eventId}/archive:
    post:
      tags:
      - Events
      summary: Queues the specified event for archiving.
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postEventsByEventIdArchive
      x-operation-id-source: derived
  /events/{eventId}/bestseats:
    get:
      tags:
      - Events
      summary: Returns the best available seats that match the supplied parameters for an…
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: quantity
        in: query
        description: Integer to find a quantity of seats
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: sectionId
        in: query
        description: An optional string (the exact name) or a GUID representing the section
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: typeId
        in: query
        description: Optional GUID to find seats in a particular type
        schema:
          type: string
          format: uuid
      - name: groupId
        in: query
        description: An optional integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: seatCode
        in: query
        description: An optional seat-level access code to unlock seats
        schema:
          type: string
      - name: nonconsecutive
        in: query
        description: Optional boolean to find seats that are non-consecutive
        schema:
          type: boolean
          default: false
      - name: basePrice
        in: query
        description: Optional decimal to find seats in a particular base price
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSeatOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSeatOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdBestseats
      x-operation-id-source: derived
  /events/{eventId}/communities:
    get:
      tags:
      - Events
      summary: Returns all communities for the specified event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCommunityOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventCommunityOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdCommunities
      x-operation-id-source: derived
  /events/{eventId}/data:
    get:
      tags:
      - Events
      summary: Returns all data for the specified type
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: A string value of "Attendee", "Order", or "Group"
        schema:
          $ref: '#/components/schemas/FieldMetaType'
      - name: since
        in: query
        description: An optional date (UTC) from which to filter data
        schema:
          type: string
          format: date-time
      - name: includeCancelled
        in: query
        description: An optional boolean (default false) to include cancelled attendees
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
            text/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdData
      x-operation-id-source: derived
  /events/{eventId}/details:
    get:
      tags:
      - Events
      summary: Retrieve information for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        description: An integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: access
        in: query
        description: The Access Code for accessing the event
        schema:
          type: string
      - name: exchangeId
        in: query
        description: An optional exchange ID if currently exchanging
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailsOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventDetailsOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdDetails
      x-operation-id-source: derived
  /events/{eventId}/documents:
    get:
      tags:
      - Events
      summary: Get which printing layouts are available for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDocumentOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventDocumentOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdDocuments
      x-operation-id-source: derived
  /events/{eventId}/fieldmetadata:
    get:
      tags:
      - Events
      summary: Get the meta data for ALL fields for an event including the built-in/system ones
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMetaOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMetaOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdFieldmetadata
      x-operation-id-source: derived
  /events/{eventId}/fields:
    get:
      tags:
      - Events
      summary: Get fields for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: fieldType
        in: query
        description: One of "Attendees", "Groups", or "Buyers" for the type of fields you want
        schema:
          $ref: '#/components/schemas/FieldUpdateType'
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdFields
      x-operation-id-source: derived
  /events/{eventId}/fields/{fieldId}/remotevalidate:
    get:
      tags:
      - Events
      summary: Fetch result for given Remote Valid field when value is provided
      parameters:
      - name: eventNumber
        in: query
        description: An integer that corresponds to a specific event
        schema:
          type: integer
          format: int64
      - name: fieldId
        in: path
        description: A GUID of the Remote Fetch field
        required: true
        schema:
          type: string
          format: uuid
      - name: value
        in: query
        description: The string of the value currently used in the attendee's search field. Required.
        schema:
          type: string
      - name: attendeeNumber
        in: query
        description: The attendee number for the current attendee. Only applied to attendee fields
        schema:
          type: integer
          format: int64
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdFieldsByFieldIdRemotevalidate
      x-operation-id-source: derived
  /events/{eventId}/groups:
    get:
      tags:
      - Events
      summary: List all groups for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: search
        in: query
        description: A string to filter groups
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSummaryOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSummaryOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdGroups
      x-operation-id-source: derived
  /events/{eventId}/lookup:
    get:
      tags:
      - Events
      summary: Look up attendees based upon email for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email of the attendee, buyer, or group manager
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupAttendeeResultOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupAttendeeResultOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdLookup
      x-operation-id-source: derived
  /events/{eventId}/move:
    post:
      tags:
      - Events
      summary: Move an event to a different client.
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to the specific event you would like to move
        required: true
        schema:
          type: string
      requestBody:
        description: Request body for moving an event to a different client
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventMoveInput'
          text/json:
            schema:
              $ref: '#/components/schemas/EventMoveInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventMoveInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postEventsByEventIdMove
      x-operation-id-source: derived
  /events/{eventId}/orders:
    get:
      tags:
      - Events
      summary: Gets list of orders for an event with an optional date range
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event.
        required: true
        schema:
          type: string
      - name: startsAt
        in: query
        description: Optional start date to filter list
        schema:
          type: string
          format: date-time
      - name: endsAt
        in: query
        description: Optional end date to filter list
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderListOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderListOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdOrders
      x-operation-id-source: derived
  /events/{eventId}/paymentmethods:
    get:
      tags:
      - Events
      summary: Get which payment methods are available for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventPaymentMethodOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventPaymentMethodOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdPaymentmethods
      x-operation-id-source: derived
  /events/{eventId}/reports/{reportId}:
    get:
      tags:
      - Events
      summary: Get report data for a custom or preset event report
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: reportId
        in: path
        description: A GUID that corresponds to a specific report or a string that corresponds to a specific report preset
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
            text/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdReportsByReportId
      x-operation-id-source: derived
  /events/{eventId}/resources:
    get:
      tags:
      - Events
      summary: Get a list of resource urls corresponding to specific Brushfire pages for the…
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventResourceOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventResourceOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdResources
      x-operation-id-source: derived
  /events/{eventId}/restore:
    post:
      tags:
      - Events
      summary: Queues the specified event for restoring.
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postEventsByEventIdRestore
      x-operation-id-source: derived
  /events/{eventId}/sections:
    get:
      tags:
      - Events
      summary: Get the details for all the sections of an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        description: An integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: seatCode
        in: query
        description: A seat-level access code to unlock seats
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSectionOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSectionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdSections
      x-operation-id-source: derived
  /events/{eventId}/sections/{sectionId}:
    get:
      tags:
      - Events
      summary: Get the details for a specific section
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: sectionId
        in: path
        description: A string (the exact name) or a GUID representing the section
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        description: An integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: seatCode
        in: query
        description: A seat-level access code to unlock seats
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSectionOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSectionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdSectionsBySectionId
      x-operation-id-source: derived
  /events/{eventId}/sections/{sectionId}/seats:
    get:
      tags:
      - Events
      summary: Get all the seats in a section for a specific event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: sectionId
        in: path
        description: A string (the exact name) or a GUID representing the section
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        description: An integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: seatCode
        in: query
        description: A seat-level access code to unlock seats
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSeatOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSeatOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdSectionsBySectionIdSeats
      x-operation-id-source: derived
  /events/{eventId}/sessions:
    get:
      tags:
      - Events
      summary: Get a list of all of the sessions for an event
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: search
        in: query
        description: A string to filter sessions
        schema:
          type: string
      - name: includeHidden
        in: query
        description: Show hidden sessions
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSessionOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSessionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdSessions
      x-operation-id-source: derived
  /events/{eventId}/theme:
    get:
      tags:
      - Events
      summary: Get the theme for a specific event
      parameters:
      - name: eventId
        in: path
        description: A string, a GUID, or an integer that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/ThemeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdTheme
      x-operation-id-source: derived
  /events/{eventId}/types:
    get:
      tags:
      - Events
      summary: List all currently available attendee types for a specific event and account…
      parameters:
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: group
        in: query
        description: An integer or a GUID that corresponds to a specific group
        schema:
          type: string
      - name: accessKey
        in: query
        description: Access Key for user account
        schema:
          type: string
      - name: access
        in: query
        description: The Access Code for accessing the types
        schema:
          type: string
      - name: seat
        in: query
        description: A GUID that corresponds to a specific seat, if blank, will return all types for the event
        schema:
          type: string
          format: uuid
      - name: category
        in: query
        description: A string value of "All", "Standard", or "Addon" which determines which type of Attendee Type will be returned. The default is "Standard" which returns only Standard types.
        schema:
          $ref: '#/components/schemas/AttendeeTypeCategory'
      - name: exchangeId
        in: query
        description: An optional exchange ID if currently exchanging
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypeOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTypeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventIdTypes
      x-operation-id-source: derived
  /events/{eventNumber}/fields/{fieldId}/remotefetch:
    get:
      tags:
      - Events
      summary: Fetch options for given Remote Fetch field when searching a specified value
      parameters:
      - name: eventNumber
        in: path
        description: An integer that corresponds to a specific event
        required: true
        schema:
          type: integer
          format: int64
      - name: fieldId
        in: path
        description: A GUID of the Remote Fetch field
        required: true
        schema:
          type: string
          format: uuid
      - name: attendeeNumber
        in: query
        description: The attendee number for the current attendee. Only applied to attendee fields
        schema:
          type: integer
          format: int64
      - name: value
        in: query
        description: The string of the value currently used in the attendee's search field
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemoteFetchResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemoteFetchResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getEventsByEventNumberFieldsByFieldIdRemotefetch
      x-operation-id-source: derived
  /events/copy:
    post:
      tags:
      - Events
      summary: Copy an existing event
      requestBody:
        description: Request body for copying an event. Leave fields empty if you would like to use the source event's values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCopyInput'
          text/json:
            schema:
              $ref: '#/components/schemas/EventCopyInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventCopyInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSingleOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postEventsCopy
      x-operation-id-source: derived
components:
  schemas:
    ThemeOutput:
      type: object
      properties:
        LogoUrl:
          type:
          - string
          - 'null'
        LogoPosition:
          type:
          - string
          - 'null'
        HeaderUrlLarge:
          type:
          - string
          - 'null'
        HeaderUrlMobile:
          type:
          - string
          - 'null'
        BackgroundCss:
          type:
          - string
          - 'null'
        TextColor:
          type:
          - string
          - 'null'
        LinkColor:
          type:
          - string
          - 'null'
        HomeUrl:
          type:
          - string
          - 'null'
        HeaderHtml:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventSharedCapacityCreateInput:
      type: object
      properties:
        SharedCapacityName:
          type:
          - string
          - 'null'
          description: For time slot events, if the SharedCapacityKind is "Time", you must provide a time here. i.e. "10:00 AM".
        SharedCapacity:
          type:
          - integer
          - 'null'
          format: int32
        SharedCapacityKind:
          $ref: '#/components/schemas/SharedCapacityKind'
        IsHidden:
          type: boolean
          description: Only for time slot events. If true, attendee types connected to this shared capacity will not be visible.
        ConnectedTypeNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of attendee type names or addons names that are connected to this shared capacity. Must not mix and match. Time Slot events allow for attendee types to be connected across multiple shared capacities.
      additionalProperties: false
    EventDateOutput:
      type: object
      properties:
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    SeatReservedStateOutput:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        BackColor:
          $ref: '#/components/schemas/ColorOutput'
        ForeColor:
          $ref: '#/components/schemas/ColorOutput'
      additionalProperties: false
    EventResourceOutput:
      type: object
      properties:
        Category:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Url:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventGroupFieldCreateInput:
      type: object
      properties:
        IsGroup:
          type: boolean
          readOnly: true
        Label:
          type:
          - string
          - 'null'
        FieldType:
          $ref: '#/components/schemas/FieldType'
        ValidationExpression:
          type:
          - string
          - 'null'
        StoredValue:
          type:
          - string
          - 'null'
        Notes:
          type:
          - string
          - 'null'
        AdminRequired:
          type: boolean
        AdminVisible:
          type: boolean
        InternetRequired:
          type: boolean
        InternetVisible:
          type: boolean
        IsSensitive:
          type: boolean
        Options:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventFieldOptionCreateInput'
          description: Only set for fields of type Checkbox, Dropdown, Radiobuttons, ItemList, or ItemAmount
        RemoteUrl:
          type:
          - string
          - 'null'
          description: Only set for fields of type RemoteFetch or RemoteValidate
        RequireConfirm:
          type: boolean
          description: Only set for fields of type Text, Name, Phone, Email, or Date
        EmailDomains:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of domains you would like to validate for or against for email fields.
        DomainValidation:
          $ref: '#/components/schemas/DomainValidationType'
      additionalProperties: false
    EventSectionPriceOutput:
      type: object
      properties:
        TypeId:
          type: string
          format: uuid
        Amount:
          type: number
          format: double
        Fee:
          type:
          - number
          - 'null'
          format: double
        IsInclusiveFees:
          type: boolean
        ConsecutiveSeats:
          type: integer
          format: int32
        DisplayAmount:
          type: number
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        CustomFees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFeeOutput'
      additionalProperties: false
    EventTypeVariationOutput:
      type: object
      properties:
        ItemId:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Price:
          type: number
          format: double
        DisplayPrice:
          type:
          - number
          - 'null'
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        RemainingText:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    GroupSummaryOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        GroupNumber:
          type: integer
          format: int64
        Name:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        AttendeeTypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        AttendeeCount:
          type: integer
          format: int32
        JoinPasscode:
          type:
          - string
          - 'null'
        CommunityId:
          type:
          - string
          - 'null'
          format: uuid
        CommunityPartition:
          type:
          - string
          - 'null'
        CommunityName:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldMetaType:
      enum:
      - Order
      - Group
      - Attendee
      type: string
    EventFieldOptionCreateInput:
      type: object
      properties:
        Label:
          type:
          - string
          - 'null'
        IsSelected:
          type: boolean
        AdminVisible:
          type: boolean
        InternetVisible:
          type: boolean
        Custom1:
          type:
          - string
          - 'null'
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        Capacity:
          type:
          - integer
          - 'null'
          format: int32
        DependentFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventFieldCreateInput'
          description: Use this to create fields that are only visible when this option is selected
      additionalProperties: false
    DomainValidationOutput:
      type: object
      properties:
        AllowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
        DisallowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    EventListOutput:
      type: object
      properties:
        Title:
          type:
          - string
          - 'null'
        Subtitle:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        DateInfo:
          type:
          - string
          - 'null'
        DateInfoList:
          type:
          - array
          - 'null'
          items:
            type: string
        SoldOut:
          type: boolean
        IsSticky:
          type: boolean
        EventNumber:
          type: integer
          format: int64
        IsAssigned:
          type: boolean
        LocationName:
          type:
          - string
          - 'null'
        SessionCount:
          type: integer
          format: int32
        IsActive:
          type: boolean
        DateDisplay:
          $ref: '#/components/schemas/DateDisplayOutput'
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        MapUrl:
          type:
          - string
          - 'null'
        PromoImageUrl:
          type:
          - string
          - 'null'
        CategoryId:
          type: integer
          format: int32
        CategoryName:
          type:
          - string
          - 'null'
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        SpotsTaken:
          type: integer
          format: int32
        ShowRemaining:
          type: boolean
        RemainingText:
          type:
          - string
          - 'null'
        Verbiage:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateOutput'
        AlternateTitle:
          type:
          - string
          - 'null'
          readOnly: true
        TimeZoneId:
          type:
          - string
          - 'null'
        AreaName:
          type:
          - string
          - 'null'
        AreaKey:
          type:
          - string
          - 'null'
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        AcctCode:
          type:
          - string
          - 'null'
        IsHidden:
          type: boolean
        IsFlexPass:
          type: boolean
        IsExchangeable:
          type: boolean
      additionalProperties: false
    SharedCapacityKind:
      enum:
      - Default
      - Time
      - Pass
      type: string
    EventSectionReservedStateOutput:
      type: object
      properties:
        ReservedState:
          $ref: '#/components/schemas/SeatReservedStateOutput'
        SeatCount:
          type: integer
          format: int32
      additionalProperties: false
    EventDocumentOutput:
      type: object
      properties:
        HasTicket:
          type: boolean
        HasETicket:
          type: boolean
        HasReceipt:
          type: boolean
        HasNamebadge:
          type: boolean
        HasCheckIn:
          type: boolean
        HasWillCallLabel:
          type: boolean
        HasMailLabel:
          type: boolean
      additionalProperties: false
    EventTypeOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsAvailable:
          type: boolean
        IsFuture:
          type: boolean
        IsPast:
          type: boolean
        Available:
          type:
          - string
          - 'null'
        SelectedAmount:
          type:
          - number
          - 'null'
          format: double
        Amount:
          type:
          - number
          - 'null'
          format: double
        DisplayAmount:
          type: number
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        Fee:
          type: number
          description: Deprecated. Fees are now set in CustomFees; this property is kept for backwards compatibility but should be ignored.
          format: double
        Tax:
          type:
          - number
          - 'null'
          description: Deprecated. Taxes are now set in CustomFees; this property is kept for backwards compatibility but should be ignored.
          format: double
        TaxRate:
          type:
          - number
          - 'null'
          description: Deprecated. Tax rates are now set in CustomFees; this property is kept for backwards compatibility but should be ignored.
          format: double
        OrderFeePercent:
          type:
          - number
          - 'null'
          description: Deprecated. Fees are now set in CustomFees; this property is kept for backwards compatibility but should be ignored.
          format: double
        IsInclusiveFees:
          type: boolean
        IsInclusiveTaxes:
          type: boolean
        AllowCustomAmount:
          type: boolean
        PreRegEnabled:
          type: boolean
        GiftingEnabled:
          type: boolean
        CopyEnabled:
          type: boolean
        AcctCode:
          type:
          - string
          - 'null'
        PaymentAmounts:
          type:
          - string
          - 'null'
        PaymentsDueBy:
          type:
          - string
          - 'null'
        MinQuantity:
          type: integer
          format: int32
        MaxQuantity:
          type:
          - integer
          - 'null'
          format: int32
        IsGroup:
          type: boolean
        SoldOut:
          type: boolean
        YourGroup:
          type: boolean
        GroupingText:
          type:
          - string
          - 'null'
        QuantityRequirements:
          type:
          - string
          - 'null'
        GroupRequirements:
          type:
          - string
          - 'null'
          readOnly: true
        IsInaccessibleDueToAccessCode:
          type: boolean
        IsAccessibleBecauseOfAccessCode:
          type: boolean
        IsAdmin:
          type: boolean
        Kind:
          type:
          - string
          - 'null'
        AllowedPayments:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
        AllowedDisplayPayments:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
        Sections:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventTypeSectionOutput'
        Prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventTypePriceOutput'
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        RemainingText:
          type:
          - string
          - 'null'
        SharedCapacityId:
          type:
          - string
          - 'null'
          format: uuid
        SharedCapacityName:
          type:
          - string
          - 'null'
        SharedCapacityKind:
          type:
          - string
          - 'null'
        TimeSlotStartsAt:
          type:
          - string
          - 'null'
          format: date-time
        ShareEnabled:
          type: boolean
        IsAddon:
          type: boolean
        ImageUrl:
          type:
          - string
          - 'null'
        GeneratesTicket:
          type: boolean
        ExternalId:
          type:
          - string
          - 'null'
        Variations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventTypeVariationOutput'
        CustomFees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFeeOutput'
        FeeLineItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemOutput'
        FeeBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemOutput'
          readOnly: true
        TaxBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemOutput'
          readOnly: true
      additionalProperties: false
    RelatedEventOutput:
      type: object
      properties:
        ClientKey:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
        EventNumber:
          type: integer
          format: int64
        EventTitle:
          type:
          - string
          - 'null'
        Subtitle:
          type:
          - string
          - 'null'
        ImageUrl:
          type:
          - string
          - 'null'
        DateInfo:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventMoveInput:
      required:
      - AccessKey
      - TargetClientId
      - UrlKey
      type: object
      properties:
        AccessKey:
          minLength: 1
          type: string
          description: Your account access key. This is used to authenticate your requests.
        TargetClientId:
          type: string
          description: The ID of the client to move the event to.
          format: uuid
        UrlKey:
          maxLength: 50
          minLength: 0
          pattern: ^[0-9A-Za-z_\-]+$
          type: string
          description: The URL key the event will have under the target client.
        PaymentProfileId:
          type:
          - string
          - 'null'
          description: The payment profile ID to assign to the event in the target client. Leave null to assign no payment profile.
          format: uuid
        UseNewClientFeeStructure:
          type: boolean
          description: 'Whether to replace the event''s fee structure with the target client''s fee structure. Defaults to true.

            Setting this to false is restricted to Brushfire staff.'
      additionalProperties: false
    RemoteFetchResult:
      type: object
      properties:
        Label:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    TypeKind:
      enum:
      - InPerson
      - Donation
      - Product
      type: string
    EventDetailsOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        PreRegParentId:
          type:
          - string
          - 'null'
          format: uuid
        PreRegChildId:
          type:
          - string
          - 'null'
          format: uuid
        UrlKey:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        ClientCountry:
          type:
          - string
          - 'null'
        ClientRegion:
          type:
          - string
          - 'null'
        ClientIsDemo:
          type: boolean
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        ClientTheme:
          type:
          - string
          - 'null'
        EventTheme:
          type:
          - string
          - 'null'
        AppImageUrl:
          type:
          - string
          - 'null'
        IsAssigned:
          type: boolean
        HasCommunities:
          type: boolean
        HasExistingGroups:
          type: boolean
        HasGroupTypes:
          type: boolean
        LockinGroups:
          type: boolean
        IsGroupCentric:
          type: boolean
        IsGroupPrivate:
          type: boolean
        GroupCentricText:
          type:
          - string
          - 'null'
        ShowSoldOut:
          type: boolean
        HasActiveEventCodes:
          type: boolean
        HasActiveSeatCodes:
          type: boolean
        HasActiveTypeCodes:
          type: boolean
        HasPayments:
          type: boolean
        PromoImageUrl:
          type:
          - string
          - 'null'
        PromoDescription:
          type:
          - string
          - 'null'
        AccessState:
          type:
          - string
          - 'null'
        AccessMessage:
          type:
          - string
          - 'null'
        PreventChanges:
          type: boolean
        AccessCodeIsValid:
          type: boolean
        PauseText:
          type:
          - string
          - 'null'
        CategoryId:
          type: integer
          format: int32
        CategoryName:
          type:
          - string
          - 'null'
        UseMap:
          type: boolean
        LocationName:
          type:
          - string
          - 'null'
        Street:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        LocationDetails:
          type:
          - string
          - 'null'
        MapAddress:
          type:
          - string
          - 'null'
        Address:
          type:
          - string
          - 'null'
        Location:
          type:
          - string
          - 'null'
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        TimeZoneId:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        ShareUrl:
          type:
          - string
          - 'null'
        FacebookUrl:
          type:
          - string
          - 'null'
        TwitterUrl:
          type:
          - string
          - 'null'
        TwitterRelated:
          type:
          - string
          - 'null'
        TwitterText:
          type:
          - string
          - 'null'
        SessionCount:
          type: integer
          format: int32
        Title:
          type:
          - string
          - 'null'
        AlternateTitle:
          type:
          - string
          - 'null'
          readOnly: true
        TitleInfo:
          type:
          - string
          - 'null'
        Subtitle:
          type:
          - string
          - 'null'
        IsPublished:
          type: boolean
        IsHidden:
          type: boolean
        OverallCapacity:
          type:
          - integer
          - 'null'
          format: int32
        IsSoldOut:
          type: boolean
        SpotsTaken:
          type:
          - integer
          - 'null'
          format: int32
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        Types:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventTypeOutput'
        Verbiage:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateOutput'
        DateInfoList:
          type:
          - array
          - 'null'
          items:
            type: string
        DateInfo:
          type:
          - string
          - 'null'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
        HasParent:
          type: boolean
        VenueImage:
          type:
          - string
          - 'null'
        EventInfoTop:
          type:
          - string
          - 'null'
        EventInfoBottom:
          type:
          - string
          - 'null'
        StickyInfo:
          type:
          - string
          - 'null'
        EventCode:
          type:
          - string
          - 'null'
        ContactPhone:
          type:
          - string
          - 'null'
        ContactEmail:
          type:
          - string
          - 'null'
        Website:
          type:
          - string
          - 'null'
        CreatedAt:
          type: string
          format: date-time
        SeasonRunAt:
          type:
          - string
          - 'null'
          format: date-time
        IsSeasonMaster:
          type: boolean
        IsSeasonChild:
          type: boolean
        IsSeasonRunImmediate:
          type: boolean
        Sessions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventSessionOutput'
        Documents:
          $ref: '#/components/schemas/EventDocumentOutput'
        StreamUrl:
          type:
          - string
          - 'null'
        PublishShowAt:
          type:
          - string
          - 'null'
          format: date-time
        PublishHideAt:
          type:
          - string
          - 'null'
          format: date-time
        AutoRegTC:
          type:
          - string
          - 'null'
        AreaName:
          type:
          - string
          - 'null'
        AreaKey:
          type:
          - string
          - 'null'
        AreaHeaderLogo:
          type:
          - string
          - 'null'
        AreaHeaderHtml:
          type:
          - string
          - 'null'
        AcctCode:
          type:
          - string
          - 'null'
        ShowStage:
          type: boolean
        RelatedEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelatedEventOutput'
        IsFlexPass:
          type: boolean
        IsTimeSlot:
          type: boolean
        TaxLabel:
          type:
          - string
          - 'null'
        AddonTitle:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventExternalCustomersCreateInput:
      type: object
      properties:
        enabled:
          type: boolean
          description: WHether Brushfire should attempt to find/create customersin Square for this event.
        customerGroups:
          type:
          - array
          - 'null'
          items:
            type: string
          description: A list of Square Customer Group IDs - if provided, Square Customers for this event will be added to all of these groups.
        overwriteProfile:
          type: boolean
          description: If true, any personal data collected during checkout will overwrite existing customer data in Square. If false, personal data will be added, but existing Square data will not be overwritten.
      additionalProperties: false
    EventDateItem:
      type: object
      properties:
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    EventGoogleAnalyticsCreateInput:
      type: object
      properties:
        number:
          pattern: ^((UA|G)-[-0-9A-Za-z]{4,50})+$
          type:
          - string
          - 'null'
          description: The Google Analytics tracking number for the event.
          example: UA-12345678-1
        domain:
          type:
          - string
          - 'null'
          description: The Google Analytics domain
      additionalProperties: false
    OrderListPaymentOutput:
      type: object
      properties:
        PaymentMethodId:
          type: string
          format: uuid
        PaymentMethod:
          type:
          - string
          - 'null'
        PaymentNumber:
          type:
          - string
          - 'null'
        TransactionId:
          type:
          - string
          - 'null'
        TransactionTotal:
          type: number
          format: double
        ExternalInvoiceId:
          type:
          - string
          - 'null'
        CreditNumber:
          type:
          - integer
          - 'null'
          format: int64
        PaidInFull:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    CopyFeesType:
      enum:
      - Client
      - Original
      type: string
    PriceMethod:
      enum:
      - Set
      - Custom
      - Payments
      type: string
    EventFieldCreateInput:
      type: object
      properties:
        Label:
          type:
          - string
          - 'null'
        FieldType:
          $ref: '#/components/schemas/FieldType'
        ValidationExpression:
          type:
          - string
          - 'null'
        StoredValue:
          type:
          - string
          - 'null'
        Notes:
          type:
          - string
          - 'null'
        AdminRequired:
          type: boolean
        AdminVisible:
          type: boolean
        InternetRequired:
          type: boolean
        InternetVisible:
          type: boolean
        IsSensitive:
          type: boolean
        Options:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventFieldOptionCreateInput'
          description: Only set for fields of type Checkbox, Dropdown, Radiobuttons, ItemList, or ItemAmount
        RemoteUrl:
          type:
          - string
          - 'null'
          description: Only set for fields of type RemoteFetch or RemoteValidate
        RequireConfirm:
          type: boolean
          description: Only set for fields of type Text, Name, Phone, Email, or Date
        EmailDomains:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of domains you would like to validate for or against for email fields.
        DomainValidation:
          $ref: '#/components/schemas/DomainValidationType'
      additionalProperties: false
    FeeItemType:
      enum:
      - Fee
      - Tax
      type: string
    EventAddonCreateInput:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        AdminShowAt:
          type:
          - string
          - 'null'
          format: date-time
        AdminHideAt:
          type:
          - string
          - 'null'
          format: date-time
        InternetShowAt:
          type:
          - string
          - 'null'
          format: date-time
        InternetHideAt:
          type:
          - string
          - 'null'
          format: date-time
        IsHidden:
          type: boolean
        Capacity:
          type:
          - integer
          - 'null'
          format: int32
        RoleName:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        MinQuantity:
          type:
          - integer
          - 'null'
          format: int32
        MaxQuantity:
          type:
          - integer
          - 'null'
          format: int32
        NoChangesAfter:
          type:
          - string
          - 'null'
          format: date-time
        Custom1:
          type:
          - string
          - 'null'
        Custom2:
          type:
          - string
          - 'null'
        Custom3:
          type:
          - string
          - 'null'
        AcctCode:
          type:
          - string
          - 'null'
        GroupingText:
          type:
          - string
          - 'null'
        TypeKind:
          $ref: '#/components/schemas/TypeKind'
        FlexTotal:
          type:
          - integer
          - 'null'
          description: Total number of redemptions. Only applicable for Flex Pass events.
          format: int32
        FlexPer:
          type:
          - integer
          - 'null'
          description: Maximum number of redemptions per event. Only applicable for Flex Pass events.
          format: int32
        FlexStartsAt:
          type:
          - string
          - 'null'
          description: 'When can redemptions start? Only applicable for Flex Pass events without Flex Relative Days.

            If Flex Relative Days is set, this will be ignored.'
          format: date-time
        FlexEndsAt:
          type:
          - string
          - 'null'
          description: 'When will redemptions end? Only applicable for Flex Pass events without Flex Relative Days.

            If Flex Relative Days is set, this will be ignored.'
          format: date-time
        ConnectedFlexEventUrlKeys:
          type:
          - array
          - 'null'
          items:
            type: string
          description: What events can this flex pass be redeemed for? Set "all" to allow all events.
        FlexRelativeDays:
          type:
          - integer
          - 'null'
          description: 'For how many days is the flex pass redeemable after purchase? Only applicable for Flex Pass events.

            If Flex Relative Days is set, FlexStartsAt and FlexEndsAt will be ignored.'
          format: int32
        CustomHtml:
          type:
          - string
          - 'null'
        ShareEnabled:
          type: boolean
        GeneratesTicket:
          type: boolean
        TypeTicketImageUrl:
          type:
          - string
          - 'null'
        TypeTicketBackgroundColor:
          type:
          - string
          - 'null'
      additionalProperties: false
    FeeMethod:
      enum:
      - Pass
      - Absorb
      type: string
    EventHeaderStyle:
      enum:
      - HTML
      - Banner
      - Logo
      type: string
    EventType:
      enum:
      - GeneralAdmission
      - FlexPass
      - TimeSlot
      type: string
    EventSingleOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        UrlKey:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        ClientName:
          type:
          - string
          - 'null'
        ClientIsDemo:
          type: boolean
        IsAssigned:
          type: boolean
        CategoryId:
          type: integer
          format: int32
        CategoryName:
          type:
          - string
          - 'null'
        UseMap:
          type: boolean
        LocationName:
          type:
          - string
          - 'null'
        Street:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        LocationDetails:
          type:
          - string
          - 'null'
        MapAddress:
          type:
          - string
          - 'null'
        Address:
          type:
          - string
          - 'null'
        Location:
          type:
          - string
          - 'null'
        ShowSoldOut:
          type: boolean
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        TimeZoneId:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        FacebookUrl:
          type:
          - string
          - 'null'
        SessionCount:
          type: integer
          format: int32
        Title:
          type:
          - string
          - 'null'
        AlternateTitle:
          type:
          - string
          - 'null'
          readOnly: true
        TitleInfo:
          type:
          - string
          - 'null'
        Subtitle:
          type:
          - string
          - 'null'
        IsPublished:
          type: boolean
        OverallCapacity:
          type:
          - integer
          - 'null'
          format: int32
        IsSoldOut:
          type: boolean
        SpotsTaken:
          type:
          - integer
          - 'null'
          format: int32
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        IsHidden:
          type: boolean
        Verbiage:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateOutput'
        DateInfoList:
          type:
          - array
          - 'null'
          items:
            type: string
        DateInfo:
          type:
          - string
          - 'null'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
        HasParent:
          type: boolean
        VenueImage:
          type:
          - string
          - 'null'
        EventInfoTop:
          type:
          - string
          - 'null'
        EventInfoBottom:
          type:
          - string
          - 'null'
        StickyInfo:
          type:
          - string
          - 'null'
        EventCode:
          type:
          - string
          - 'null'
        ContactPhone:
          type:
          - string
          - 'null'
        ContactEmail:
          type:
          - string
          - 'null'
        Website:
          type:
          - string
          - 'null'
        CreatedAt:
          type: string
          format: date-time
        SeasonRunAt:
          type:
          - string
          - 'null'
          format: date-time
        IsSeasonMaster:
          type: boolean
        IsSeasonChild:
          type: boolean
        IsSeasonRunImmediate:
          type: boolean
        AppImageUrl:
          type:
          - string
          - 'null'
        StreamUrl:
          type:
          - string
          - 'null'
        AreaName:
          type:
          - string
          - 'null'
        AreaKey: {}
        AcctCode:
          type:
          - string
          - 'null'
        ShowStage:
          type: boolean
        IsFlexPass:
          type: boolean
        AttendeeChanges:
          $ref: '#/components/schemas/AttendeeChangeType'
        IsTimeSlot:
          type: boolean
        AddonTitle:
          type:
          - string
          - 'null'
        IsExchangeable:
          type: boolean
      additionalProperties: false
    AttendeeTypeCategory:
      enum:
      - All
      - Standard
      - Addon
      type: string
    LookupAttendeeResultOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        Status:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        IsPreRegistered:
          type: boolean
        ShareEmail:
          type:
          - string
          - 'null'
        GiftingEnabled:
          type: boolean
        GiftLastSentAt:
          type:
          - string
          - 'null'
          format: date-time
        GiftLastSentAtLocal:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        TimeZoneId:
          type:
          - string
          - 'null'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        AttendeeTypeId:
          type: string
          format: uuid
        TypeName:
          type:
          - string
          - 'null'
        TypeAmount:
          type: number
          format: double
        TypeDisplayAmount:
          type: number
          format: double
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        Addons:
          type: number
          format: double
        Discounts:
          type: number
          format: double
        SeatInfo:
          type:
          - string
          - 'null'
        Culture:
          type:
          - string
          - 'null'
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        GroupName:
          type:
          - string
          - 'null'
        GroupEmail:
          type:
          - string
          - 'null'
        AttendeeDisplay:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        DisplayPrice:
          type: number
          format: double
          readOnly: true
        DisplayTotal:
          type: number
          format: double
          readOnly: true
        PriceDescription:
          type:
          - string
          - 'null'
        HasPaymentsToMake:
          type: boolean
        DonatingBackEnabled:
          type: boolean
        ChangesAreBlocked:
          type: boolean
        ChangesAreBlockedAfter:
          type:
          - string
          - 'null'
          format: date-time
        HasPendingSignatures:
          type: boolean
        AllSignaturesComplete:
          type: boolean
        ShareEnabled:
          type: boolean
        TicketInfo:
          $ref: '#/components/schemas/TicketInfoOutput'
      additionalProperties: false
    EventCommunityOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Partition:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Capacity:
          type: integer
          format: int32
        AttendeeCount:
          type: integer
          format: int32
        GroupCount:
          type: integer
          format: int32
        Tags:
          type:
          - array
          - 'null'
          items:
            type: string
        RemainingCount:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    EventTypeSectionOutput:
      type: object
      properties:
        SectionId:
          type: string
          format: uuid
        SectionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventSectionOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        Alignment:
          type:
          - string
          - 'null'
        AislesAfter:
          type:
          - array
          - 'null'
          items:
            type: string
        IsRowAscending:
          type: boolean
        IsSeatAscending:
          type: boolean
        IsRankAscending:
          type: boolean
        IsAssigned:
          type: boolean
        Rotation:
          type: integer
          format: int32
        Rank:
          type: integer
          format: int32
        DistanceCount:
          type: integer
          format: int32
        RemainingText:
          type:
          - string
          - 'null'
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        PriceBreakdown:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventSectionPriceOutput'
        ReservedStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventSectionReservedStateOutput'
      additionalProperties: false
    EventSeatOutput:
      type: object
      properties:
        SeatId:
          type: string
          format: uuid
        SectionId:
          type: string
          format: uuid
        SectionName:
          type:
          - string
          - 'null'
        EventId:
          type: string
          format: uuid
        EventNumber:
          type: integer
          format: int64
        RowName:
          type:
          - string
          - 'null'
        SeatNumber:
          type: integer
          format: int32
        SeatLabel:
          type:
          - string
          - 'null'
        SeatType:
          type:
          - string
          - 'null'
        Wheelchair:
          type: boolean
        LimitedView:
          type: boolean
        Distanced:
          type: boolean
        UnitPrice:
          type: number
          format: double
        PriceColor:
          $ref: '#/components/schemas/ColorOutput'
        Available:
          type: boolean
        ReservedAt:
          type:
          - string
          - 'null'
          format: date-time
        Notes:
          type:
          - string
          - 'null'
        OrderId:
          type:
          - string
          - 'null'
          format: uuid
        OrderKey:
          type:
          - string
          - 'null'
        AttendeeId:
          type:
          - string
          - 'null'
          format: uuid
        AttendeeNumber:
          type:
          - integer
          - 'null'
          format: int64
        State:
          $ref: '#/components/schemas/SeatReservedStateOutput'
        InaccessibleDueToAccessCode:
          type: boolean
        Types:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Amounts:
          type:
          - array
          - 'null'
          items:
            type: number
            format: double
      additionalProperties: false
    DateDisplayOutput:
      type: object
      properties:
        Months:
          type:
          - string
          - 'null'
        Dates:
          type:
          - string
          - 'null'
        Days:
          type:
          - string
          - 'null'
        Times:
          type:
          - string
          - 'null'
        IsOngoing:
          type: boolean
      additionalProperties: false
    EventCreateInput:
      required:
      - AccessKey
      - CategoryId
      - ClientId
      - OrganizerEmail
      - TimeZoneId
      - Title
      - UrlKey
      type: object
      properties:
        AccessKey:
          minLength: 1
          type: string
          description: Your account access key. This is used to authenticate your requests.
        ClientId:
          type: string
          description: The unique identifier for the client or organization that owns the event.
          format: uuid
          example: 24134460-e7ce-4bbd-bed8-df11cdd20d75
        Title:
          minLength: 1
          type: string
          description: Event title
          example: My New Event
        Subtitle:
          type:
          - string
          - 'null'
        UrlKey:
          maxLength: 50
          minLength: 0
          pattern: ^[0-9A-Za-z_\-]+$
          type: string
          description: Url Keys help you group similar events and customize the event url
          example: summer2025
        EventCode:
          pattern: ^[0-9A-Za-z]+$
          type:
          - string
          - 'null'
          description: Event code for the event.
          example: EVT2025
        VerbiageSetting:
          $ref: '#/components/schemas/EventVerbiage'
        CategoryId:
          type: integer
          description: 3 - CAMP, 23 - CLASS, SEMINAR OR TRAINING, 14 - CONCERT, PERFORMANCE, PRODUCTION, 5 - CONFERENCE, 12 - OTHER
          format: int32
          example: 3
        OverallCapacity:
          type:
          - integer
          - 'null'
          description: How many people do you expect to attend this event?
          format: int32
        EventType:
          $ref: '#/components/schemas/EventType'
        IsCapacityManaged:
          type: boolean
          description: When this feature is enabled, a 15 minute timer ensures that all spots are held while they are in the cart. General admission events without this turned on will allow attendees to freely register and capacity will be managed at the point of placing an order instead of in the cart
        IsSticky:
          type: boolean
          description: Make this event sticky
        IsHidden:
          type: boolean
          description: Make this event private (only accessible via direct link)?
        HasTickets:
          type: boolean
          description: Enable Ticket links on confirmation emails?
        AccountingCode:
          type:
          - string
          - 'null'
          description: This value will appear on reports and will be sent to the payment gateway to help you reconcile.
        ShowRemaining:
          type: boolean
          description: If enabled, remaining tickets is shown to customers.
        ShowSoldOut:
          type: boolean
          description: If a given option is not in a selected group, sold out, expired, or future, do you still want the options to appear so your customers know all available options?
        LockInGroups:
          type: boolean
          description: If this is enabled, all attendees who join a group will do so at the same type and rate that the group was created under. This "locks in" the price for all group members regardless of when they sign up.
        TicketLimit:
          type:
          - integer
          - 'null'
          format: int32
        AttendeeChangeType:
          $ref: '#/components/schemas/AttendeeChangeType'
        IsGroupCentric:
          type: boolean
          description: Enable "Groups First" functionality? (only works if group minimums are not enforced)
        IsGroupPrivate:
          type: boolean
          description: Group names should remain private? (only works if IsGroupCentric is true)
        SendEmails:
          type: boolean
        AllowRefundDonation:
          type: boolean
          description: Allow tickets to be donated back into available inventory prior to start of event
        EventInfoTop:
          type:
          - string
          - 'null'
        EventInfoBottom:
          type:
          - string
          - 'null'
        StickyInfo:
          type:
          - string
          - 'null'
        ConfirmationLogoImageUrl:
          type:
          - string
          - 'null'
          description: The logo that appears on the confirmation page and emails. Must be a valid media library reference. Image should be 1200px x 400px for proper display.
        ConfirmationText:
          type:
          - string
          - 'null'
        PauseText:
          type:
          - string
          - 'null'
        FinishText:
          type:
          - string
          - 'null'
        GroupCentricText:
          type:
          - string
          - 'null'
          description: Only available for group centric events.
        GroupEmailText:
          type:
          - string
          - 'null'
        AutoRegTC:
          type:
          - string
          - 'null'
        AppImageUrl:
          type:
          - string
          - 'null'
          description: If supplied this will be used alongside the app interface in all modes. Image should be 1090px (wide) x 1870px (high) for proper display. Must be a valid media library reference.
        LocationName:
          type:
          - string
          - 'null'
        LocationDetails:
          type:
          - string
          - 'null'
        Street:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        Coordinates:
          type:
          - string
          - 'null'
        UseMap:
          type: boolean
        MapAddress:
          type:
          - string
          - 'null'
        ContactPhone:
          pattern: ^((?:[\.\*\(\)\-\/\s\+]*\d){10,})(.*)$
          type:
          - string
          - 'null'
          description: The phone number for the event contact person.
          example: +1-555-123-4567
        OrganizerEmail:
          minLength: 1
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type: string
          description: The email address for the event contact person.
          example: organizer@example.com
        ManagerEmails:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Once daily, the address(es) provided here will receive an email with registration statistics and links to relevant reports for this event.
        NotifyEmails:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Each time an order is placed or a group notification email is sent, the address(es) provided here will be blind copied on the confirmation email. Separate multiple addresses with a comma.
        EventHomeUrl:
          pattern: ^(https\:\/\/)[a-zA-Z0-9À-ÖØ-öø-ÿ\-\.]+\.[a-zA-Z]{2,}(/\S*)?$
          type:
          - string
          - 'null'
          description: Home URL for the event
          example: https://example.com
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateCreateInput'
        PublishHideAt:
          type:
          - string
          - 'null'
          format: date-time
        PublishShowAt:
          type:
          - string
          - 'null'
          format: date-time
        TimeZoneId:
          minLength: 1
          type: string
        AddonTitle:
          type:
          - string
          - 'null'
        IsInclusiveTaxes:
          type: boolean
          description: When enabled, enter the total price including taxes. This price will be displayed as the inclusive price (including taxes and fees) and the tax amount will be calculated automatically for receipts and summaries. Once the event is created this may not be undone.
        TaxRate:
          type: number
          description: Deprecated. Tax is now configured per-attendee-type via customFees; this field is accepted for backwards compatibility but ignored.
          format: double
        OrderFeePercent:
          maximum: 100
          minimum: 0
          type: number
          description: 'These service fees are applied once per order, but are displayed in the inclusive fees on each attendee/add-on. They are assessed on the full price of each attendee/add-on inclusive of other fees, tax, discounts, or any other element of the cost, including this fee itself.

            Deprecated. Order-level fees have been removed; configure fees per-attendee-type via customFees; this field is accepted for backwards compatibility but ignored.'
          format: double
        AttendeeTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventAttendeeTypeCreateInput'
        Addons:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventAddonCreateInput'
        SharedCapacities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventSharedCapacityCreateInput'
          description: These are your "Time Slots" if this is a time slot event.
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        CreditNumber:
          type:
          - integer
          - 'null'
          description: The default credit template to use when issuing credits for refunds or exchanges on this event. Leave null to use the organization-level default.
          format: int64
        HeaderStyle:
          $ref: '#/components/schemas/EventHeaderStyle'
        HeaderHtml:
          type:
          - string
          - 'null'
        LogoUrl:
          pattern: ^(http(s?)\:\/\/)?[a-zA-Z0-9À-ÖØ-öø-ÿ\-\.]+\.[a-zA-Z]{2,}(/\S*)?$
          type:
          - string
          - 'null'
          description: The logo image URL that appears for this event. Must be a valid media library reference.
[...]
