openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Cart API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Cart
paths:
  /cart/{cartId}:
    get:
      tags:
      - Cart
      summary: Retrieve events and attendees for a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: pos
        in: query
        description: A boolean indicating if this cart should be retrieved for POS mode
        schema:
          type: boolean
          default: false
      - name: exclude
        in: query
        description: A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart
        schema:
          type: string
      - name: slipstream
        in: query
        description: ''
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId to ease adding other attendees and add-ons
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartId
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}:
    delete:
      tags:
      - Cart
      summary: Delete all attendees for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeleteEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeleteEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: deleteCartByCartIdEventsByEventId
      x-operation-id-source: derived
    get:
      tags:
      - Cart
      summary: Retrieve event and attendees for a specific cart and specific event
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: pos
        in: query
        description: A boolean indicating if this cart should be retrieved for POS mode
        schema:
          type: boolean
          default: false
      - name: exclude
        in: query
        description: A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart
        schema:
          type: string
      - name: slipstream
        in: query
        description: ''
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdEventsByEventId
      x-operation-id-source: derived
    post:
      tags:
      - Cart
      summary: Update a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: Any options not provided will not be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartUpdateEventInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartEventOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdEventsByEventId
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}/attendees:
    post:
      tags:
      - Cart
      summary: Add attendees to the specified cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAddAttendeeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAddAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAddAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdEventsByEventIdAttendees
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}/attendees/{attendeeId}:
    delete:
      tags:
      - Cart
      summary: Delete a specific attendee from a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeleteAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeleteAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: deleteCartByCartIdEventsByEventIdAttendeesByAttendeeId
      x-operation-id-source: derived
    get:
      tags:
      - Cart
      summary: Retrieve information for a specific attendee in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdEventsByEventIdAttendeesByAttendeeId
      x-operation-id-source: derived
    post:
      tags:
      - Cart
      summary: Update information for a specific attendee in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer or a GUID that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: Any options not provided will not be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartUpdateAttendeeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartAttendeeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdEventsByEventIdAttendeesByAttendeeId
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}/attendees/{attendeeId}/form:
    get:
      tags:
      - Cart
      summary: Retrieve form for a specific attendee for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdEventsByEventIdAttendeesByAttendeeIdForm
      x-operation-id-source: derived
    post:
      tags:
      - Cart
      summary: Update form for a specific attendee for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: attendeeId
        in: path
        description: An integer, GUID, or a string that corresponds to a specific attendee
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAttendeeFormInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdEventsByEventIdAttendeesByAttendeeIdForm
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}/form:
    get:
      tags:
      - Cart
      summary: Retrieve form for the buyer for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdEventsByEventIdForm
      x-operation-id-source: derived
    post:
      tags:
      - Cart
      summary: Update form for the buyer for a specific event in a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdEventsByEventIdForm
      x-operation-id-source: derived
  /cart/{cartId}/events/{eventId}/forms:
    get:
      tags:
      - Cart
      summary: Retrieve forms for the buyer and attendees for a specific event in a specific…
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/id
        required: true
        schema:
          type: string
      - name: eventId
        in: path
        description: An integer or a GUID that corresponds to a specific event
        required: true
        schema:
          type: string
      - name: accessKey
        in: query
        description: The Access Key for the user context
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FormOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdEventsByEventIdForms
      x-operation-id-source: derived
  /cart/{cartId}/lookup:
    get:
      tags:
      - Cart
      summary: Search customer accounts and past orders for checkout information for specified…
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Name you are searching for (first and/or last)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartLookupOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartLookupOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartByCartIdLookup
      x-operation-id-source: derived
  /cart/{cartId}/promotions:
    post:
      tags:
      - Cart
      summary: Adds a promotion (by name) to a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: originalOrderId
        in: query
        description: A valid OrderId for a post-order add-on purchase
        schema:
          type: string
      - name: exchangeId
        in: query
        description: A valid ExchangeId to associate this cart with an exchange
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
          text/json:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CartAddPromotionInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartPromotionOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartPromotionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postCartByCartIdPromotions
      x-operation-id-source: derived
  /cart/{cartId}/promotions/{promotionId}:
    delete:
      tags:
      - Cart
      summary: Delete a promotion from a specific cart
      parameters:
      - name: cartId
        in: path
        description: A valid CartId that was previously generated by /cart/{cartId}
        required: true
        schema:
          type: string
      - name: promotionId
        in: path
        description: A GUID that corresponds to a specific promotion
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDeletePromotionOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartDeletePromotionOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: deleteCartByCartIdPromotionsByPromotionId
      x-operation-id-source: derived
  /cart/id:
    get:
      tags:
      - Cart
      summary: Retreive a system-generated CartId for use in other calls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartIdOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/CartIdOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getCartId
      x-operation-id-source: derived
components:
  schemas:
    EventVerbiage:
      enum:
      - Registrations
      - Tickets
      type: string
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldUpdateInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        FieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInput'
        UpdateNewOnly:
          type: boolean
      additionalProperties: false
    CartAddAttendeeInput:
      required:
      - Attendees
      type: object
      properties:
        Attendees:
          type: array
          items:
            $ref: '#/components/schemas/CartAddAttendeeItemInput'
        TypeCode:
          type:
          - string
          - 'null'
        AccessKey:
          type:
          - string
          - 'null'
        Exclude:
          type:
          - string
          - 'null'
      additionalProperties: false
    CartAttendeePromotionOutput:
      type: object
      properties:
        PromotionId:
          type: string
          format: uuid
        DiscountAmount:
          type: number
          format: double
      additionalProperties: false
    CartDeleteAttendeeOutput:
      type: object
      properties:
        ExpiresAt:
          type:
          - string
          - 'null'
          format: date-time
        TotalCount:
          type: integer
          format: int32
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
    DomainValidationOutput:
      type: object
      properties:
        AllowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
        DisallowDomains:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    FieldDisplayOutput:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Label:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        IsSensitive:
          type: boolean
        OptionIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CartAttendeeFormInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        FieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInput'
        UpdateNewOnly:
          type: boolean
        IsPreRegistered:
          type: boolean
        IsGift:
          type: boolean
        RecipientEmail:
          pattern: ^([0-9A-Za-zÀ-ÖØ-öø-ÿ']+[-._+&])*[0-9A-Za-zÀ-ÖØ-öø-ÿ_']+@([-0-9A-Za-zÀ-ÖØ-öø-ÿ]+[.])+[a-zA-Z]{2,63}$
          type:
          - string
          - 'null'
      additionalProperties: false
    CartAttendeeOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        EventId:
          type: string
          format: uuid
        AttendeeTypeId:
          type: string
          format: uuid
        AttendeeId:
          type: string
          format: uuid
        AttendeeNumber:
          type: integer
          format: int64
        LinkedAttendeeNumber:
          type:
          - integer
          - 'null'
          format: int64
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        CartId:
          type:
          - string
          - 'null'
        UnitPrice:
          type: number
          format: double
        UnitFee:
          type: number
          format: double
        UnitTax:
          type: number
          format: double
        UnitDelivery:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee; this property is kept for backwards compatibility but should be ignored.
          format: double
        UnitDiscount:
          type: number
          format: double
        UnitAddons:
          type: number
          format: double
        UnitTotal:
          type: number
          format: double
        UnitFees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemOutput'
        DisplayPrice:
          type: number
          format: double
        DisplayTotal:
          type: number
          format: double
          readOnly: true
        TypeDisplayAmount:
          type: number
          format: double
        IsInclusiveFees:
          type: boolean
        IsInclusiveTaxes:
          type: boolean
        LastAccessedAt:
          type: string
          format: date-time
        TypeName:
          type:
          - string
          - 'null'
        IsPreRegistered:
          type: boolean
        IsCompleted:
          type: boolean
        IsGift:
          type: boolean
        CanContinue:
          type: boolean
        SeatId:
          type:
          - string
          - 'null'
          format: uuid
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        DistanceCount:
          type:
          - integer
          - 'null'
          format: int32
        ShareEmail:
          type:
          - string
          - 'null'
        SeatInfo:
          type:
          - string
          - 'null'
        HasFields:
          type: boolean
        Promotions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CartAttendeePromotionOutput'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldDisplayOutput'
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        HasName:
          type: boolean
        HasAddress:
          type: boolean
        DisplayName:
          type:
          - string
          - 'null'
        AttendeeDisplay:
          type:
          - array
          - 'null'
          items:
            type: string
          readOnly: true
        AttendeeDisplayLines:
          $ref: '#/components/schemas/AttendeeDisplayOutput'
        IsAddon:
          type: boolean
        TypeKind:
          $ref: '#/components/schemas/TypeKind'
        ExternalId:
          type:
          - string
          - 'null'
        ExternalDescription:
          type:
          - string
          - 'null'
      additionalProperties: false
    TypeKind:
      enum:
      - InPerson
      - Donation
      - Product
      type: string
    CartDeletePromotionOutput:
      type: object
      properties:
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
    FieldInput:
      required:
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Value: {}
      additionalProperties: false
    CartCheckoutInfoOutput:
      type: object
      properties:
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Phone:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        Street1:
          type:
          - string
          - 'null'
        Street2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    FeeItemType:
      enum:
      - Fee
      - Tax
      type: string
    CartUpdateEventInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        ShippingId:
          type:
          - string
          - 'null'
          description: Deprecated. Delivery methods are no longer supported; this field is accepted for backwards compatibility but ignored.
          format: uuid
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        UnitAddons:
          type:
          - number
          - 'null'
          format: double
        UnitDiscount:
          type:
          - number
          - 'null'
          format: double
        UnitTax:
          type:
          - number
          - 'null'
          description: Flat tax amount applied to each attendee. Ignored when API.Models.CartUpdateEventInput.UnitFees is supplied.
          format: double
        UnitFee:
          type:
          - number
          - 'null'
          description: Flat fee amount applied to each attendee. Ignored when API.Models.CartUpdateEventInput.UnitFees is supplied.
          format: double
        UnitFees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemInput'
          description: 'Itemized fee/tax line items to apply to every attendee in the cart for this event.

            When supplied, this replaces the existing UnitFeesJson on each attendee and takes precedence over API.Models.CartUpdateEventInput.UnitFee and API.Models.CartUpdateEventInput.UnitTax.

            If the existing attendees already have tax applied, the list must include at least one entry with FeeType=Tax.'
        UnitDelivery:
          type:
          - number
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartUpdateEventInput.UnitFee; this field is accepted for backwards compatibility but ignored.
          format: double
        DeliveryFee:
          type:
          - number
          - 'null'
          description: Deprecated. Delivery is no longer included in order totals; this field is accepted for backwards compatibility but ignored.
          format: double
        Exclude:
          type:
          - string
          - 'null'
      additionalProperties: false
    CartLookupOutput:
      type: object
      properties:
        AccountNumber:
          type:
          - integer
          - 'null'
          format: int64
        IsLegacy:
          type: boolean
        FirstName:
          type:
          - string
          - 'null'
        LastName:
          type:
          - string
          - 'null'
        Organization:
          type:
          - string
          - 'null'
        Street1:
          type:
          - string
          - 'null'
        Street2:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        Phone:
          type:
          - string
          - 'null'
        Relevancy:
          type: number
          format: double
      additionalProperties: false
    UnitFeeLineItemInput:
      required:
      - Amount
      - FeeType
      - Label
      type: object
      properties:
        Label:
          minLength: 1
          type: string
        FeeType:
          $ref: '#/components/schemas/FeeItemType'
        Amount:
          type: number
          format: double
      additionalProperties: false
    CartAddAttendeeOutput:
      type: object
      properties:
        CartId:
          type:
          - string
          - 'null'
        ExpiresAt:
          type:
          - string
          - 'null'
          format: date-time
        TotalCount:
          type: integer
          format: int32
        AddedCount:
          type: integer
          format: int32
        EventCart:
          $ref: '#/components/schemas/CartEventOutput'
      additionalProperties: false
    AttendeeDisplayOutput:
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
        Line2:
          type:
          - string
          - 'null'
        Line3:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    InfoGrouping:
      enum:
      - None
      - CheckPO
      - ECheck
      - Card
      - AppSideload
      - Reference
      - EventCredit
      - MassCancel
      type: string
    UnitFeeLineItemOutput:
      type: object
      properties:
        Label:
          type:
          - string
          - 'null'
          description: Display label (e.g. "Service Fee", "Sales Tax").
        FeeType:
          $ref: '#/components/schemas/FeeItemType'
        Amount:
          type: number
          description: The evaluated amount for this line item.
          format: double
      additionalProperties: false
      description: 'A single fee or tax line item evaluated for an attendee from the attendee

        type''s customFees configuration. On cart outputs this is a live evaluation;

        on order outputs it is the snapshot of what was collected at purchase time.'
    CartEventDeliveryMethodOutput:
      type: object
      properties:
        ShippingId:
          type: string
          format: uuid
        Method:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        EventFee:
          type:
          - number
          - 'null'
          format: double
        TicketFee:
          type:
          - number
          - 'null'
          format: double
        IsElectronic:
          type: boolean
        IsPointOfSale:
          type: boolean
        PricesVary:
          type: boolean
        TicketCount:
          type:
          - integer
          - 'null'
          format: int32
        Fee:
          type: number
          format: double
          readOnly: true
      additionalProperties: false
      description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee; this class is kept for backwards compatibility but ignored.
    CartIdOutput:
      type: object
      properties:
        CartId:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldOptionFullOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type:
          - string
          - 'null'
        Capacity:
          type:
          - integer
          - 'null'
          format: int32
        Quantity:
          type: integer
          format: int32
        HasUnitPrice:
          type: boolean
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        UnitTax:
          type:
          - number
          - 'null'
          format: double
        IsInclusiveTaxes:
          type: boolean
        DisplayPrice:
          type:
          - number
          - 'null'
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        IsSelected:
          type: boolean
        HasCapacity:
          type: boolean
        SpotsRemaining:
          type:
          - integer
          - 'null'
          format: int32
        RemainingText:
          type:
          - string
          - 'null'
      additionalProperties: false
    CartUpdateAttendeeInput:
      type: object
      properties:
        AccessKey:
          type:
          - string
          - 'null'
        AttendeeTypeId:
          type:
          - string
          - 'null'
          format: uuid
        GroupId:
          type:
          - string
          - 'null'
          format: uuid
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        UnitAddons:
          type:
          - number
          - 'null'
          format: double
        UnitDiscount:
          type:
          - number
          - 'null'
          format: double
        UnitTax:
          type:
          - number
          - 'null'
          description: Flat tax amount applied to this attendee. Ignored when API.Models.CartUpdateAttendeeInput.UnitFees is supplied.
          format: double
        UnitFee:
          type:
          - number
          - 'null'
          description: Flat fee amount applied to this attendee. Ignored when API.Models.CartUpdateAttendeeInput.UnitFees is supplied.
          format: double
        UnitFees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UnitFeeLineItemInput'
          description: 'Itemized fee/tax line items to apply to this attendee.

            When supplied, takes precedence over API.Models.CartUpdateAttendeeInput.UnitFee and API.Models.CartUpdateAttendeeInput.UnitTax.'
        UnitDelivery:
          type:
          - number
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartUpdateAttendeeInput.UnitFee; this field is accepted for backwards compatibility but ignored.
          format: double
        Exclude:
          type:
          - string
          - 'null'
        ExternalId:
          type:
          - string
          - 'null'
      additionalProperties: false
    CartPromotionOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Names:
          type:
          - array
          - 'null'
          items:
            type: string
        Amount:
          type: number
          format: double
        AutoCalculate:
          type: boolean
      additionalProperties: false
    FieldOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Label:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Value: {}
        DisplayValue:
          type:
          - string
          - 'null'
        ValidationExpression:
          type:
          - string
          - 'null'
        IsRequired:
          type: boolean
        Notes:
          type:
          - string
          - 'null'
        ErrorMessage:
          type:
          - string
          - 'null'
        IsDisabled:
          type: boolean
        IsSensitive:
          type: boolean
        SpecialFieldId:
          type: string
          format: uuid
        ParentOptionId:
          type:
          - string
          - 'null'
          format: uuid
        ParentFieldId:
          type:
          - string
          - 'null'
          format: uuid
        FormObjectId:
          type:
          - string
          - 'null'
          format: uuid
        Options:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldOptionFullOutput'
        ParentOptionIsSelected:
          type: boolean
        HasError:
          type: boolean
        HasRelevantOutput:
          type: boolean
        MinDate:
          type:
          - string
          - 'null'
          format: date-time
        MaxDate:
          type:
          - string
          - 'null'
          format: date-time
        AttendeeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        RemoteUrl:
          type:
          - string
          - 'null'
        SelectedOptionId:
          type:
          - string
          - 'null'
          format: uuid
          readOnly: true
        Confirm:
          type: boolean
        DomainValidation:
          $ref: '#/components/schemas/DomainValidationOutput'
        DisplayIsPrimary:
          type: boolean
      additionalProperties: false
    CartEventOutput:
      type: object
      properties:
        ExpiresAt:
          type:
          - string
          - 'null'
          format: date-time
        ShowPromos:
          type: boolean
        Id:
          type: string
          format: uuid
        EventId:
          type: string
          format: uuid
        ClientId:
          type: string
          format: uuid
        ClientNumber:
          type: integer
          format: int64
        EventNumber:
          type: integer
          format: int64
        EventAcctCode:
          type:
          - string
          - 'null'
        ClientKey:
          type:
          - string
          - 'null'
        UrlKey:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Dates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventDateOutput'
        Culture:
          type:
          - string
          - 'null'
        TicketLimit:
          type:
          - integer
          - 'null'
          format: int32
        DeliveryFee:
          type: number
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: double
        ShippingId:
          type:
          - string
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: uuid
        ShippingIsElectronic:
          type:
          - boolean
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
        ShippingIsPOS:
          type:
          - boolean
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
        IsCompleted:
          type: boolean
        PaymentProfileId:
          type:
          - string
          - 'null'
          format: uuid
        CartId:
          type:
          - string
          - 'null'
        AnalyticsNumber:
          type:
          - string
          - 'null'
        HasFields:
          type: boolean
        TimeZoneId:
          type:
          - string
          - 'null'
        ImInImageUrl:
          type:
          - string
          - 'null'
        LockInGroups:
          type: boolean
        ShippingIdName:
          type:
          - string
          - 'null'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
        CanContinue:
          type: boolean
        GatewayDescription:
          type:
          - string
          - 'null'
          readOnly: true
        Verbiage:
          type:
          - string
          - 'null'
        VerbiageSetting:
          $ref: '#/components/schemas/EventVerbiage'
        SubTotal:
          type: number
          format: double
          readOnly: true
        EventTotal:
          type: number
          format: double
          readOnly: true
        TitleInfo:
          type:
          - string
          - 'null'
        DateInfo:
          type:
          - string
          - 'null'
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CartAttendeeOutput'
        DeliveryMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CartEventDeliveryMethodOutput'
          description: Deprecated. Delivery has been folded into API.Models.CartAttendeeOutput.UnitFee;
        PaymentMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentMethodOutput'
        Promotions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CartPromotionOutput'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        AreaKey:
          type:
          - string
          - 'null'
        CheckoutInfo:
          $ref: '#/components/schemas/CartCheckoutInfoOutput'
        OrderFee:
          type: number
          description: Deprecated. Order fee has been folded into API.Models.CartAttendeeOutput.UnitFee;
          format: double
        TaxLabel:
          type:
          - string
          - 'null'
        TaxTotal:
          type: number
          format: double
        FeeTotal:
          type: number
          format: double
        DiscountTotal:
          type: number
          format: double
          readOnly: true
        AttendeeTotal:
          type: number
          format: double
          readOnly: true
      additionalProperties: false
    FormOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        ObjectId:
          type: string
          format: uuid
        IsAttendee:
          type: boolean
        AttendeeNumber:
          type:
          - integer
          - 'null'
          format: int64
        IsPreRegistered:
          type: boolean
        IsGift:
          type: boolean
        ShareEmail:
          type:
          - string
          - 'null'
        CopyEnabled:
          type: boolean
        GiftingEnabled:
          type: boolean
        PreRegEnabled:
          type: boolean
        IsCopySource:
          type: boolean
        IsCopyDestination:
          type: boolean
          readOnly: true
        CanContinue:
          type: boolean
        AttendeeTypeId:
          type: string
          format: uuid
        AttendeeTypeName:
          type:
          - string
          - 'null'
        IsCompleted:
          type: boolean
        SeatId:
          type:
          - string
          - 'null'
          format: uuid
        SectionName:
          type:
          - string
          - 'null'
        RowName:
          type:
          - string
          - 'null'
        SeatLabel:
          type:
          - string
          - 'null'
        DistanceCount:
          type:
          - integer
          - 'null'
          format: int32
        UnitPrice:
          type: number
          format: double
        UnitAddons:
          type: number
          format: double
        UnitFee:
          type: number
          format: double
        UnitTax:
          type: number
          format: double
        DisplayPrice:
          type: number
          format: double
        PriceDescription:
          type:
          - string
          - 'null'
        IsInclusiveFees:
          type: boolean
        IsInclusiveTaxes:
          type: boolean
        Culture:
          type:
          - string
          - 'null'
        CopyableAttendeeNumbers:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        DisplayName:
          type:
          - string
          - 'null'
          readOnly: true
        AttendeeDisplay:
          type:
          - array
          - 'null'
          items:
            type: string
          readOnly: true
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldOutput'
      additionalProperties: false
    CartAddAttendeeItemInput:
      required:
      - EventId
      - Quantity
      - TypeId
      type: object
      properties:
        EventId:
          minLength: 1
          type: string
        TypeId:
          type: string
          format: uuid
        Quantity:
          type: integer
          format: int32
        GroupId:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        IsPreRegistered:
          type: boolean
        CustomAmount:
          type:
          - number
          - 'null'
          format: double
        SelectedAmount:
          type:
          - number
          - 'null'
          format: double
        SeatId:
          type:
          - string
          - 'null'
          format: uuid
        SectionId:
          type:
          - string
          - 'null'
          format: uuid
        ExternalId:
          type:
          - string
          - 'null'
        ExternalDescription:
          type:
          - string
          - 'null'
      additionalProperties: false
    PaymentMethodOutput:
      type: object
      properties:
        PaymentMethodId:
          type: string
          format: uuid
        Name:
          type:
          - string
          - 'null'
        IsElectronic:
          type: boolean
        InfoGrouping:
          type:
          - string
          - 'null'
        Grouping:
          $ref: '#/components/schemas/InfoGrouping'
      additionalProperties: false
    EventDateOutput:
      type: object
      properties:
        DoorsAt:
          type:
          - string
          - 'null'
          format: date-time
        StartsAt:
          type: string
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    CartAddPromotionInput:
      required:
      - CodeName
      type: object
      properties:
        CodeName:
          minLength: 1
          type: string
        AccessKey:
          type:
          - string
          - 'null'
        Exclude:
          type:
          - string
          - 'null'
      additionalProperties: false
    CartDeleteEventOutput:
      type: object
      properties:
        DeletedCount:
          type: integer
          format: int32
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
