openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Access Codes API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Access Codes
paths:
  /accesscodes:
    get:
      tags:
      - Access Codes
      summary: List all access codes for a specific client (and additional parameters)
      parameters:
      - name: clientId
        in: query
        description: A string, a GUID, or an integer that corresponds to a specific client
        schema:
          type: string
      - name: kind
        in: query
        description: An option string value from "Standard", "Template", or "Dynamic" that represents the kind of access code
        schema:
          $ref: '#/components/schemas/AccessCodeKind'
      - name: isRedeemed
        in: query
        description: An optional boolean value if the access code has been redeemed
        schema:
          type: boolean
      - name: search
        in: query
        description: An option string to filter access codes by name
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessCodeOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessCodeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAccesscodes
      x-operation-id-source: derived
  /accesscodes/{accessCodeId}:
    get:
      tags:
      - Access Codes
      summary: Get details of a single access code
      parameters:
      - name: accessCodeId
        in: path
        description: A GUID that corresponds to a specific access code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessCodeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/AccessCodeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getAccesscodesByAccessCodeId
      x-operation-id-source: derived
  /accesscodes/dynamic:
    post:
      tags:
      - Access Codes
      summary: Creates the specified quantity of dynamic access codes based upon the provided…
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessCodeCreateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/AccessCodeCreateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccessCodeCreateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessCodeCreateOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessCodeCreateOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postAccesscodesDynamic
      x-operation-id-source: derived
components:
  schemas:
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    AccessCodeOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Description:
          type:
          - string
          - 'null'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
        Kind:
          type:
          - string
          - 'null'
        IsSingleUse:
          type: boolean
        IsRedeemed:
          type: boolean
        Names:
          type:
          - array
          - 'null'
          items:
            type: string
        Events:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        AttendeeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Seats:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    AccessCodeCreateOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Description:
          type:
          - string
          - 'null'
        StartsAt:
          type:
          - string
          - 'null'
          format: date-time
        EndsAt:
          type:
          - string
          - 'null'
          format: date-time
        Kind:
          type:
          - string
          - 'null'
        IsSingleUse:
          type: boolean
        IsRedeemed:
          type: boolean
        Names:
          type:
          - array
          - 'null'
          items:
            type: string
        Events:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        AttendeeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        Seats:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    AccessCodeCreateInput:
      required:
      - Prefix
      - Quantity
      - TemplateId
      type: object
      properties:
        TemplateId:
          type: string
          format: uuid
        Quantity:
          maximum: 250
          minimum: 1
          type: integer
          format: int32
        Prefix:
          maxLength: 13
          minLength: 0
          type: string
      additionalProperties: false
    AccessCodeKind:
      enum:
      - Standard
      - Template
      - Dynamic
      type: string
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
