openapi: 3.2.0
info:
  title: 'Brushfire API: Version 2025-07-22 Hooks API'
  version: '2025-07-22'
  description: The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform.
  contact:
    name: Brushfire Developers
    url: https://developer.brushfire.com
servers:
- url: https://api.brushfire.com
  description: Brushfire API (date-versioned via the api-version header)
tags:
- name: Hooks
paths:
  /hooks/list:
    get:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to list hooks subscribed by appKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HookSubscribeOutput'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HookSubscribeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getHooksList
      x-operation-id-source: derived
  /hooks/ping:
    get:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to test connectivity after authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getHooksPing
      x-operation-id-source: derived
  /hooks/poll:
    get:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to view shape for `data` property of POST…
      parameters:
      - name: type
        in: query
        description: ''
        schema:
          $ref: '#/components/schemas/WebhookType'
      - name: eventId
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getHooksPoll
      x-operation-id-source: derived
  /hooks/sample:
    get:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to view shape for `data` property of POST…
      parameters:
      - name: type
        in: query
        description: ''
        schema:
          $ref: '#/components/schemas/WebhookType'
      - name: eventId
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: getHooksSample
      x-operation-id-source: derived
  /hooks/subscribe:
    post:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to subscribe to our notifications
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookSubscribeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/HookSubscribeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HookSubscribeInput'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postHooksSubscribe
      x-operation-id-source: derived
  /hooks/unsubscribe:
    post:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to unsubscribe from our notifications
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookUnsubscribeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/HookUnsubscribeInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HookUnsubscribeInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: postHooksUnsubscribe
      x-operation-id-source: derived
  /hooks/update:
    put:
      tags:
      - Hooks
      summary: For 3rd party and custom integrations to update objects on existing…
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookUpdateInput'
          text/json:
            schema:
              $ref: '#/components/schemas/HookUpdateInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HookUpdateInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HookSubscribeOutput'
            text/json:
              schema:
                $ref: '#/components/schemas/HookSubscribeOutput'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiModelError'
      security:
      - apiKey: []
      operationId: putHooksUpdate
      x-operation-id-source: derived
components:
  schemas:
    HookSubscribeInput:
      required:
      - Type
      - Url
      type: object
      properties:
        Url:
          minLength: 1
          pattern: ^(?!.*(localhost|127\.0\.0\.1|\.local\b)).*$
          type: string
        Type:
          $ref: '#/components/schemas/WebhookType'
        Objects:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          description: This can be Event Numbers, Account Numbers, Client Numbers, etc.
      additionalProperties: false
    HookUnsubscribeInput:
      required:
      - Url
      type: object
      properties:
        Url:
          minLength: 1
          type: string
      additionalProperties: false
    ApiModelError:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringStringKeyValuePair'
        Message:
          type:
          - string
          - 'null'
        Data: {}
        StackTrace:
          type:
          - string
          - 'null'
      additionalProperties: false
    HookUpdateInput:
      required:
      - Url
      type: object
      properties:
        Url:
          minLength: 1
          type: string
        Objects:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
          description: This can be Event Numbers, Account Numbers, Client Numbers, etc.
      additionalProperties: false
    WebhookType:
      enum:
      - Attendee_Created
      - Attendee_Updated
      - Attendee_Cancelled
      - Order_Completed
      - Event_Created
      - Group_Updated
      - Group_Created
      - Group_Deleted
      - Zapier_Post
      - Event_Updated
      - Order_Updated
      - Client_Created
      - Client_Activated
      - Client_Deactivated
      - Email_Unsubscribe
      - Email_Resubscribe
      type: string
    StringStringKeyValuePair:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    HookSubscribeOutput:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        Url:
          type:
          - string
          - 'null'
        Type:
          $ref: '#/components/schemas/WebhookType'
        Objects:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      description: The App Key you received from https://developer.brushfire.com/key
      name: Authorization
      in: header
