{
  "openapi": "3.0.1",
  "info": {
    "title": "Brushfire API: Version 2025-07-22",
    "version": "2025-07-22",
    "description": "The Brushfire REST API provides programmatic access to the Brushfire event ticketing and registration platform. It covers events, ticket types, sections and seats, attendees, orders, the shopping cart and checkout flow, groups, sessions and check-in, promotions and access codes, payment profiles, and webhooks (Hooks). Authenticate by sending your App Key (requested at https://developer.brushfire.com/key) in the Authorization header. The API is date-versioned: send the desired version in the api-version request header (for example, 2025-07-22). This document is the live specification published at api.brushfire.com/swagger.",
    "contact": {
      "name": "Brushfire Developers",
      "url": "https://developer.brushfire.com"
    }
  },
  "servers": [
    {
      "url": "https://api.brushfire.com",
      "description": "Brushfire API (date-versioned via the api-version header)"
    }
  ],
  "paths": {
    "/accesscodes": {
      "get": {
        "tags": [
          "AccessCodes"
        ],
        "summary": "List all access codes for a specific client (and additional parameters)",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "A string, a GUID, or an integer that corresponds to a specific client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "An option string value from \"Standard\", \"Template\", or \"Dynamic\" that represents the kind of access code",
            "schema": {
              "$ref": "#/components/schemas/AccessCodeKind"
            }
          },
          {
            "name": "isRedeemed",
            "in": "query",
            "description": "An optional boolean value if the access code has been redeemed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "An option string to filter access codes by name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessCodeOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessCodeOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accesscodes/{accessCodeId}": {
      "get": {
        "tags": [
          "AccessCodes"
        ],
        "summary": "Get details of a single access code",
        "parameters": [
          {
            "name": "accessCodeId",
            "in": "path",
            "description": "A GUID that corresponds to a specific access code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessCodeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessCodeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accesscodes/dynamic": {
      "post": {
        "tags": [
          "AccessCodes"
        ],
        "summary": "Creates the specified quantity of dynamic access codes based upon the provided template code",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessCodeCreateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessCodeCreateInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccessCodeCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessCodeCreateOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessCodeCreateOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve information for a specific account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "An Email, a GUID, an Access Key, or an integer that corresponds to a specific account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSingleOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSingleOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/auth": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Authenticate a user via email and password or social service to get Access Key",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAuthInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAuthInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccountAuthInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAuthOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAuthOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/accounts/helpdesk/{email}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve an account that matches the provided email",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "An Email that corresponds to a specific account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHelpdeskOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHelpdeskOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve all relevant attendee information for the given attendee number",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer, GUID, or a string that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "description": "An integer or a GUID that corresponds to a specific event (only necessary if sending an attendee code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qrSize",
            "in": "query",
            "description": "The width and height of the QR Code. If blank, no QR will be sent.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/cancel": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Cancel an attendee (zero financial change only)",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCancelInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCancelInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCancelInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/code": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Associate an external code with a Brushfire attendee for scanning, etc.",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCodeInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCodeInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCodeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/communities": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Gets all the available communities for this specific attendee based upon any rules that might be in place",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendeeCommunityOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendeeCommunityOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/community": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Set or clear the community for the specified attendee (as long as the group's community doesn't override)",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCommunityInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCommunityInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCommunityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/completed": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Set a registered attendee's completed state",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCompletedInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCompletedInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeCompletedInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/data": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Returns all data for the specified attendee in the same structure as {eventId}/data",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer, GUID, or a string that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/donate": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Donate back an attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeDonateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeDonateInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeDonateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/fields": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve fields for an attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Update fields for an attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/fieldscustom": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve fields for an attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldsToInclude",
            "in": "query",
            "description": "The Id's of the fields you want returned",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Update fields for an attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/gift": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Set an attendee registration as a gift",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateGiftInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateGiftInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateGiftInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeUpdateGiftOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeUpdateGiftOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/group": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Set or clear the group (and the associated community) for the specified attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeGroupInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeGroupInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeGroupInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/link": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Copy all fields from the source attendee to the specified attendee and link them together",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeLinkInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeLinkInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeLinkInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeDetailsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/print": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve the printable resources for a single attendee",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "A string that is one of \"Ticket\", \"ETicket\", or \"Namebadge\"",
            "schema": {
              "$ref": "#/components/schemas/PrintType"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "A string that is one of \"PDF\", \"PNG\", \"JPG\", \"GIF\", \"BMP\" or \"TIFF\"",
            "schema": {
              "$ref": "#/components/schemas/PrintFormat"
            }
          },
          {
            "name": "imageDpi",
            "in": "query",
            "description": "An int representing the dots per inch of the images produced that is 72, 96, 150, 300 or 600. 0 for PDF",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/{attendeeId}/type": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Change an attendee type (zero financial change only)",
        "parameters": [
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateTypeInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateTypeInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeUpdateTypeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/helpdesk/{email}": {
      "get": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve attendees that match provided email",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "An email to search across attendee email fields",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendeeHelpdeskOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttendeeHelpdeskOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/ids": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Convert a list of attendee numbers to their corresponding unique IDs, checking permissions for each",
        "requestBody": {
          "description": "Object containing list of attendee numbers to convert",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeNumbersToIdsInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeNumbersToIdsInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeeNumbersToIdsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeNumbersToIdsOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttendeeNumbersToIdsOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/attendees/print": {
      "post": {
        "tags": [
          "Attendees"
        ],
        "summary": "Retrieve the printable resources for multiple attendees",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeePrintInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendeePrintInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttendeePrintInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve events and attendees for a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "A boolean indicating if this cart should be retrieved for POS mode",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slipstream",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId to ease adding other attendees and add-ons",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartEventOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartEventOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}": {
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Delete all attendees for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeleteEventOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeleteEventOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve event and attendees for a specific cart and specific event",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "A boolean indicating if this cart should be retrieved for POS mode",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "A comma-separated list of GUIDs representing the ID of each promotion you would like to exclude from the cart",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slipstream",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartEventOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartEventOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Update a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Any options not provided will not be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateEventInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateEventInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartEventOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartEventOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}/attendees": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add attendees to the specified cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAddAttendeeInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAddAttendeeInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CartAddAttendeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAddAttendeeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAddAttendeeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}/attendees/{attendeeId}": {
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Delete a specific attendee from a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeleteAttendeeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeleteAttendeeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve information for a specific attendee in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAttendeeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAttendeeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Update information for a specific attendee in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Any options not provided will not be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateAttendeeInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateAttendeeInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateAttendeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAttendeeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartAttendeeOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}/attendees/{attendeeId}/form": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve form for a specific attendee for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer, GUID, or a string that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Update form for a specific attendee for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendeeId",
            "in": "path",
            "description": "An integer, GUID, or a string that corresponds to a specific attendee",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAttendeeFormInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAttendeeFormInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CartAttendeeFormInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}/form": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve form for the buyer for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Update form for the buyer for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/events/{eventId}/forms": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retrieve forms for the buyer and attendees for a specific event in a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "An integer or a GUID that corresponds to a specific event",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessKey",
            "in": "query",
            "description": "The Access Key for the user context",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/lookup": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Search customer accounts and past orders for checkout information for specified cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/{cartId}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name you are searching for (first and/or last)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartLookupOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartLookupOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/promotions": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Adds a promotion (by name) to a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/{cartId}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalOrderId",
            "in": "query",
            "description": "A valid OrderId for a post-order add-on purchase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeId",
            "in": "query",
            "description": "A valid ExchangeId to associate this cart with an exchange",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAddPromotionInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartAddPromotionInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CartAddPromotionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartPromotionOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartPromotionOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/{cartId}/promotions/{promotionId}": {
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Delete a promotion from a specific cart",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "A valid CartId that was previously generated by /cart/{cartId}",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "promotionId",
            "in": "path",
            "description": "A GUID that corresponds to a specific promotion",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeletePromotionOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartDeletePromotionOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/cart/id": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Retreive a system-generated CartId for use in other calls",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartIdOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartIdOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get a list of all clients available to this application",
        "parameters": [
          {
            "name": "accessKey",
            "in": "query",
            "description": "Optional Access Key for the user context",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientListOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientListOutput"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get the details for a specific client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "An string, a GUID, or an integer that corresponds to a specific client",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSingleOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSingleOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiModelError"
                }
              },
              "text/json": {
                "schema": {
[...]
